<div class="question-answer">
    <div class="container">
        <!--BREADCRUMBS-->

        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Врачи</a></li>
            <li>/</li>
            <li><a href="#">Гастроэнтеролог</a></li>
            <li>/</li>
            <li><a href="#">Смирнова Татьяна Александровна</a></li>
            <li>/</li>
            <li class="general"><a href="#">Вопрос ответ</a></li>
        </ul>

        <h2>вопрос ответ</h2>
        <p>В этом разделе вы можете найти ответы на многие вопросы, касающиеся работы нашего сайта. Если вы не нашли интересующей вас информации, то можете отправить нам запрос с помощью формы обратной связи.</p>
        <div class="answer">
            <h3 class="question-title opened">Как сделать заказ?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Как я могу оплатить заказ?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Я из Украины, Казахстана (из любой страны помимо России), как я могу купить вещи?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Какие цены указаны на сайте?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Не получается сделать заказ. Почему?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Какие размеры указаны на сайте?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Как определить свой размер одежды?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Как узнать состав изделия?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">В каком цвете поступило изделие?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Почему заказ укомплектован не полностью / отменен?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Могу ли я изменить мой заказ?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Как произвести обмен или возврат неподошедшего товара?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Как долго формируется заказ?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Я столкнулась с техническими проблемами. Что делать?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">Есть ли у Вас магазин, куда можно приехать?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <div class="answer">
            <h3 class="question-title">У меня есть коммерческое предложение, куда написать?</h3>
            <div class="answer-box">
                <ol>
                    <li>-выбираем понравившийся артикул, выбираем нужный размер и нажимаем кнопку "В корзину";</li>
                    <li>-если хотим продолжить выбирать из других изделий, возвращаемся к другим разделам, если хотим приступить к оформлению заказа, жмем "оформить/изменить" в Корзине;</li>
                    <li>-сверяемся с тем, что выбрали, если все в порядке, нажимаем "Оформить заказ";</li>
                    <li>-необходимо заполнить все поля, отмеченные красной звездочкой, если Вы желаете быть в курсе актуальных предложений о распродажах или поступлении новых моделей, ставим галочку рядом с "Подписка на новости";</li>
                    <li>-выбираем способ доставки;</li>
                    <li>-если есть комментарии к заказу, их нужно вписать на этом этапе оформления заказа в поле "Комментарии к заказу";</li>
                    <li>-если все верно, жмем "Оформить заказ". При этом Вам на электронную почту придет уведомление о сделанном заказе, его номер и т.д., а также, придет СМС уведомление на мобильный телефон;</li>
                    <li>-следим за изменением статуса своего заказа, любая информация о смене его статуса, будет приходить к Вам на электронную почту.</li>
                </ol>
            </div>
        </div>
        <form action="#" class="add-question">
            <h4>Добавить вопрос</h4>
            <span>* Все поля обязательны для заполнения</span>
            <div class="add-question__cover clearfix">
                <div class="feedback__left">
                    <div class="input__cover">
                        <input type="text" placeholder="ФИО *">
                    </div>
                    <div class="input__cover">
                        <input type="email" placeholder="ВАШ EMAIL *">
                    </div>
                    <div class="input__cover">
                        <input type="text" placeholder="КОНТАКТНЫЙ ТЕЛЕФОН">
                    </div>
                </div>
                <div class="feedback__right">
                    <div class="input__cover">
                        <textarea name="message" id="message" cols="30" rows="10" placeholder="ТЕКСТ СООБЩЕНИЯ"></textarea>
                    </div>
                    <div class="cover__submit">
                        <input type="submit" value="отправить">
                        <span>не верно введены данные “контактный телефон”</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
