<!--ADVANTAGES AND SLIDER-->

<div class="cover-advantages cover-main">
    <div class="container">
        <div class="advantages__box index">
            <div class="advantages__box_half">
                <div class="advantages__item general">
                    <h2>преимущества клиники Евромед </h2>
                </div>
                <div class="advantages__item own-base">
                    <h3>СОБСТВЕННАЯ ЛАБОРАТОРНАЯ БАЗА</h3>
                    <p>редкие анализы и экспресс анализы</p>
                </div>
            </div>
            <div class="advantages__box_half">
                <div class="advantages__item spec">
                    <h3>СПЕЦИАЛИСТЫ ВЫСОКОГО УРОВНЯ</h3>
                    <p>лучшие доктора общей практики в городе</p>
                </div>
                <div class="advantages__item med-centers">
                    <h3>ДВА УДОБНых мед ЦЕНТРА</h3>
                    <p>на улицах Ким, 143 и<br>
                        ул. Лузана, 19 в Краснодаре</p>
                </div>
            </div>
        </div>
        <div class="slider__cover">
            <div class="slider">
                <div class="slide">
                    <img src="%=static=%img/content/slide1.jpg" alt="">
                    <div class="info__box">
                        <strong>Быть красивым и здоровым модно всегда!</strong>
                        <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="%=static=%img/content/slide1.jpg" alt="">
                    <div class="info__box">
                        <strong>Быть красивым и здоровым модно всегда!</strong>
                        <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="%=static=%img/content/slide1.jpg" alt="">
                    <div class="info__box">
                        <strong>Быть красивым и здоровым модно всегда!</strong>
                        <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slide">
                    <img src="%=static=%img/content/slide1.jpg" alt="">
                    <div class="info__box">
                        <strong>Быть красивым и здоровым модно всегда!</strong>
                        <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="arrow-of-slider">
                <span>/ 4</span>
            </div>
        </div>
    </div>
</div>
