<div class="title-services-specialists">
    <img src="%=static=%img/general/complex-programs.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Услуги</a></li>
            <li>/</li>
            <li class="general"><a href="#">Комплексные программы</a></li>
        </ul>
        <h2>Комплексные программы</h2>
    </div>
</div>
<div class="container not-index without-padding com">
    <div class="advantages__left complex">
        <p>Если Вас что-то беспокоит или просто хотите провести общую диагностику организма, достаточно обратиться в клинику «ЕВРОМЕД» - врач подберёт программу индивидуального обследования после предварительной беседы, также пациент имеет возможность самостоятельно выбрать из списка предлагаемых пакетов.</p>
        <p>Программа обследований в Клинике "ЕВРОМЕД" позволяет определить факторы риска, влияющие на Ваше здоровье, с помощью комплексного многопрофильного индивидуального обследования и передовых технологий, учитывая такие индивидуальные особенности как пол, возраст, историю болезни.</p>
        <p>У нас Вы сможете наблюдаться во время беременности и после рождения ребенка. Ваше появившееся чудо может пройти комплексное обследование, чтобы исключить возможные патологии и заболевания.</p>
    </div>
    <div class="turn__box">
        <a href="#" class="turn__item">Свернуть</a>
    </div>
    <div class="advantages__right comp">
        <div class="advantages__item white">
            <h3>наши преимущества</h3>
        </div>
        <div class="advantages__item green assessment">
            <h3>ПОЛНАЯ ОЦЕНКА ЗДОРОВЬЯ</h3>
        </div>
        <div class="advantages__item green admission-form">
            <h3>ПРЕДОСТАВЛЕНИЕ РАЗВЕРНУТОГО ЗАКЛЮЧЕНИЯ</h3>
        </div>
        <div class="advantages__item green economic">
            <h3>ЭКОНОМИЯ ДО 15% ОТ ПРАЙС ЛИСТА</h3>
        </div>
        <div class="advantages__item green time-of-diagnostics">
            <h3>МИНИМАЛЬНЫЕ СРОКИ ДИАГНОСТИКИ И лечения</h3>
        </div>
        <div class="advantages__item green individual-approach">
            <h3>ИНДИВИДУАЛЬНЫЙ ПОДХОД</h3>
        </div>
    </div>
</div>

<div class="choose-direction complex comp-pr">
    <div class="container">
        <h3>ВЫБЕРИТЕ НЕОБХОДИМЫЕ ВАМ КОМПЛЕКСНЫЕ ПРОГРАММЫ</h3>
        <div class="complex-programs__block">
            <table class="complex-programs__block__table desktop">
                <tr>
                    <td>Биохимический анализ крови, базовый</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1200 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Биохимический анализ крови, расширенный</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>2100 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>TORCH-комплекс, скрининг</td>
                    <td></td>
                    <td>2050 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>TORCH-комплекс, расширенный</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>5600 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ПЦР Фемофлор-8 (ДНК)</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1050 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>
                        <p>- Консультация врача-гастроэнтеролога</p>
                        <p>- Комплексное УЗИ органов брюшной полости</p>
                        <p>- Общий анализ крови + СОЭ</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ПЦР Фемофлор-16 (ДНК)</td>
                    <td></td>
                    <td>1550 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>ПЦР-6 (кач.) комплекс</td>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>ПЦР-6 (полуколич.) комплекс</td>
                    <td></td>
                    <td>1480 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>ПЦР-10 (полуколич.) + Вирус папилломы человека ВКР (скриннинг) комплекс</td>
                    <td></td>
                    <td>2750 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>ПЦР-10 (кач.) + Вирус папилломы человека ВКР (скриннинг) комплекс</td>
                    <td></td>
                    <td>2500 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Ведение беременности</td>
                    <td></td>
                    <td>56637 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование для мужчин</td>
                    <td></td>
                    <td>22006,50 - 22176,50 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование для женщин</td>
                    <td></td>
                    <td>22899,00 - 23069,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование по кардиологии</td>
                    <td></td>
                    <td>6426 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование печени</td>
                    <td></td>
                    <td>3492 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование функции почек</td>
                    <td></td>
                    <td>2970,00 - 3150,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование системы пищеварения</td>
                    <td></td>
                    <td>4221 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование щитовидной железы</td>
                    <td></td>
                    <td>4545,00 - 4635,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование "Мужское здоровье"</td>
                    <td></td>
                    <td>6363,00 - 6543,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование на инфекции, передающиеся половым путём</td>
                    <td></td>
                    <td>4311 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование для женщин "Подготовка к беременности"</td>
                    <td></td>
                    <td>25146,00 - 25326,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексное обследование для мужчин "Подготовка к беременности"</td>
                    <td></td>
                    <td>13365,00 - 13545,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа наблюдения детей от 0 до 1 года для мальчика</td>
                    <td></td>
                    <td>33534 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа наблюдения детей от 0 до 1 года для девочки</td>
                    <td></td>
                    <td>34704 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа для женщин "Бассейн"</td>
                    <td></td>
                    <td>3420 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа для мужчин "Бассейн"</td>
                    <td></td>
                    <td>3420 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа для малыша "Бассейн"</td>
                    <td></td>
                    <td>2250,00 - 2340,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Комплексная программа по коррекции веса</td>
                    <td></td>
                    <td>6120 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Подготовка к операции</td>
                    <td></td>
                    <td>5931 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по гинекологии</td>
                    <td></td>
                    <td>2808,00 - 3348,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по эндокринологии</td>
                    <td></td>
                    <td>3609,00 - 3699,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по терапии</td>
                    <td></td>
                    <td>3969 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по гастроэнтерологии</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>3969 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по кардиологии</td>
                    <td></td>
                    <td>3519 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по неврологии</td>
                    <td></td>
                    <td>2529,00 - 2709,00 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по урологии для женщин</td>
                    <td></td>
                    <td>3960,00 - 4140,00 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по урологии для мужчин</td>
                    <td></td>
                    <td>3762,00 - 3942,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td>Мини-комплекс по детской ортопедии</td>
                    <td></td>
                    <td>3600,00 - 3690,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
            </table>

            <table class="complex-programs__block__table mobile-table">
                <tr class="border-none">
                    <td colspan="3">Биохимический анализ крови, базовый</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1200 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Биохимический анализ крови, расширенный</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>2100 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">TORCH-комплекс, скрининг</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2050 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">TORCH-комплекс, расширенный</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>5600 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦР Фемофлор-8 (ДНК)</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1050 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>- Консультация врача-гастроэнтеролога</p>
                        <p>- Комплексное УЗИ органов брюшной полости</p>
                        <p>- Общий анализ крови + СОЭ</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦ
                <tr>
                    <td></td>
                    <td>1550 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦР-6 (кач.) комплекс</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦР-6 (полуколич.) комплекс</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1480 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦР-10 (полуколич.) + Вирус папилломы человека ВКР (скриннинг) комплекс</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2750 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ПЦР-10 (кач.) + Вирус папилломы человека ВКР (скриннинг) комплекс</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2500 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Ведение беременности</td>
                </tr>
                <tr>
                    <td></td>
                    <td>56637 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование для мужчин</td>
                </tr>
                <tr>
                    <td></td>
                    <td>22006,50 - 22176,50 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование для женщин</td>
                </tr>
                <tr>
                    <td></td>
                    <td>22899,00 - 23069,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование по кардиологии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>6426 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование печени</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3492 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование функции почек</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2970,00 - 3150,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование системы пищеварения</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4221 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование щитовидной железы</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4545,00 - 4635,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование "Мужское здоровье"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>6363,00 - 6543,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование на инфекции, передающиеся половым путём</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4311 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование для женщин "Подготовка к беременности"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>25146,00 - 25326,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное обследование для мужчин "Подготовка к беременности"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>13365,00 - 13545,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа наблюдения детей от 0 до 1 года для мальчика</td>
                </tr>
                <tr>
                    <td></td>
                    <td>33534 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа наблюдения детей от 0 до 1 года для девочки</td>
                </tr>
                <tr>
                    <td></td>
                    <td>34704 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа для женщин "Бассейн"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3420 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа для мужчин "Бассейн"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3420 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа для малыша "Бассейн"</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2250,00 - 2340,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексная программа по коррекции веса</td>
                </tr>
                <tr>
                    <td></td>
                    <td>6120 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Подготовка к операции</td>
                </tr>
                <tr>
                    <td></td>
                    <td>5931 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по гинекологии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2808,00 - 3348,00  руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по эндокринологии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3609,00 - 3699,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по терапии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3969 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по гастроэнтерологии</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>3969 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <ul>
                            <li>- Консультация врача-гастроэнтеролога</li>
                            <li>- Комплексное УЗИ органов брюшной полости</li>
                            <li>- Общий анализ крови + СОЭ</li>
                            <li>- Общий анализ мочи</li>
                            <li>- Биохимия крови (глюкоза, холестерин, АЛТ, АСТ, амилаза, билирубин общий)</li>
                        </ul>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по кардиологии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3519 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по неврологии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2529,00 - 2709,00 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по урологии для женщин</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3960,00 - 4140,00 руб </td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по урологии для мужчин</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3762,00 - 3942,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Мини-комплекс по детской ортопедии</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3600,00 - 3690,00 руб</td>
                    <td><a class="submit-request" href="#">Оставить заявку</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="about-services-specialists complex gent">
    <div class="container">
        <h3>Комплексные программы</h3>
        <div class="about-services-specialists__text-box">
            <p>Почему лучше выбирать комплексное обследование:</p>
            <p>1. В соответствии с рекомендациями Всемирной организации здравоохранения (ВОЗ), профилактическая диагностика здоровья должна проводиться ежегодно.</p>
            <p>Лучше всего проводить полное медицинское обследование организма, именно тогда шансы выявить заболевания на самой ранней стадии их развития максимально высоки.</p>
            <p>2. По результатам полного обследования вы получите развернутое письменное заключение с рекомендациями по сохранению здоровья и возможным назначением дополнительных исследований.</p>
            <p>3. Благодаря комплексному обследованию мы даём более достоверную и полную оценку Вашему состоянию здоровья.</p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
