/*FONTS*/

@font-face {
    font-family: 'Corsica LX';
    src: url('../fonts/CorsicaLX-Regular/CorsicaLX-Regular.eot');
    src: url('../fonts/CorsicaLX-Regular/CorsicaLX-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CorsicaLX-Regular/CorsicaLX-Regular.woff') format('woff'),
    url('../fonts/CorsicaLX-Regular/CorsicaLX-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondProRegular';
    src: url('../fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.eot');
    src: url('../fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.woff') format('woff'),
    url('../fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextCondProMedium';
    src: url('../fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.eot');
    src: url('../fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.woff') format('woff'),
    url('../fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PTSansRegular/PTSansRegular.eot');
    src: url('../fonts/PTSansRegular/PTSansRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSansRegular/PTSansRegular.woff') format('woff'),
    url('../fonts/PTSansRegular/PTSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
