<div class="title-services-specialists spc">
    <img src="%=static=%img/general/specialists.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li class="general"><a href="#">Врачи</a></li>
        </ul>
        <h2>специалисты</h2>
    </div>
</div>
<div class="all-specialists__box container">
    <form action="#" class="choose-specialists__form clearfix">
        <select name="select-specialisation" id="select-specialisation">
            <option>По специализации</option>
            <option value="Терапевт">Терапевт</option>
            <option value="Стоматолог">Стоматолог</option>
            <option value="Педиатр">Педиатр</option>
            <option value="Терапевт">Терапевт</option>
            <option value="Стоматолог">Стоматолог</option>
            <option value="Педиатр">Педиатр</option>
            <option value="Терапевт">Терапевт</option>
            <option value="Стоматолог">Стоматолог</option>
            <option value="Педиатр">Дантист</option>
            <option value="Терапевт">Терапевт</option>
            <option value="Стоматолог">Стоматолог</option>
            <option value="Педиатр">Лор</option>
        </select>
        <div class="cover-autocomplite">
            <input id="autocomplite" class="choose-specialists__input" type="text" placeholder="Введите ФИО">
        </div>
    </form>
    <div class="all-doctors__box">
        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Ковалева</strong>
                <strong>Светлана</strong>
                <strong>Валентиновна</strong>
                <span>Врач детский гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="%=static=%img/content/doctors/kovaleva.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Смирнова</strong>
                <strong>Татьяна</strong>
                <strong>Александровна</strong>
                <span>Врач-гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/smirnova.jpg" alt="">
            </a>
        </div>

        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Андреева</strong>
                <strong>Маргарита</strong>
                <strong>Дарчоевна</strong>
                <span>Врач акушер-гинеколог, кандидат медицинских наук, высшая квалификационная категория</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/andreeva.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Атанесян</strong>
                <strong>Элеонора</strong>
                <strong>Георгиевна</strong>
                <span>Врач акушер-гинеколог, кандидат медицинских наук, высшая квалификационная категория</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/atanesyan.jpg" alt="">
            </a>
        </div>

        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Бинцаровская</strong>
                <strong>Юлия</strong>
                <strong>Михайловна</strong>
                <span>Врач акушер-гинеколог</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/bincarovskaya.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Довгаль</strong>
                <strong>Илона</strong>
                <strong>Валентиновна</strong>
                <span>Врач акушер-гинеколог,</span>
                <span>высшая квалификационная категория</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/dovgal.jpg" alt="">
            </a>
        </div>

        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Капрарь</strong>
                <strong>Ирина</strong>
                <strong>Яковлевна</strong>
                <span>Врач акушер-гинеколог,</span>
                <span>высшая квалификационная категория</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/kaprar.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor clearfix">
            <div class="one-doctor__info">
                <strong>Коваленко</strong>
                <strong>Лариса</strong>
                <strong>Юрьевна</strong>
                <span>Врач акушер-гинеколог,</span>
                <span>высшая квалификационная категория</span>
                <div class="one-doctor__buttons">
                    <a class="make-appoint" href="#">Записаться</a>
                    <a class="about-doctor" href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="static/img/content/doctors/kovalenko.jpg" alt="">
            </a>
        </div>
    </div>
    <a href="#" class="more-doctors__button">Больше врачей</a>
</div>
