<!--HEADER-->
<div class="cover-main">
    <header class="clearfix container">
        <a href="#" class="mobile-button"></a>
        <div class="header__left clearfix">
            <a href="index.html" class="logo">
                <img src="%=static=%img/general/logo.png" alt="">
                <h1>ЕВРОМЕД</h1>
            </a>
        </div>
        <div class="header__right"></div>
        <a href="#" class="search-laptop__button"></a>
        <div class="header__right__analyzes desktop-version">
            <a href="#" class="analyzes-button result-analyzes">
                <span>Результаты анализов</span>
            </a>
            <a href="#" class="analyzes-button home-analyzes">
                <span>Анализы на дому</span>
            </a>
        </div>
        <div class="header__right__contacts desktop-version">
            <div class="contacts__info">
                <div class="contacts__info_left">
                    <span>общая справочная:</span>
                </div>
                <div class="contacts__info_right">
                    <a href="tel:+78618888888">+7 (861) 888-88-88</a>
                </div>
            </div>
            <div class="contacts__info">
                <div class="contacts__info_left">
                    <span>адреса:</span>
                </div>
                <div class="contacts__info_right">
                    <span>улица  Ким, 143</span>
                    <span>улица Лузана, 19</span>
                </div>
            </div>
        </div>
        <div class="header__right__appointment">
            <a href="#" class="header__right__appointment__info clearfix">
                <strong></strong>
                <span>Записаться на прием</span>
            </a>
        </div>
        <div class="header__right__analyzes mobile-version">
            <a href="#" class="analyzes-button result-analyzes">
                <span>Результаты анализов</span>
            </a>
            <a href="#" class="analyzes-button home-analyzes">
                <span>Анализы на дому</span>
            </a>
        </div>
    </header>
    <div class="search-laptop__box mobile-version">
        <div class="search__box">
            <form action="#" class="search__form">
                <input type="search" class="search__input" placeholder="Поиск">
                <input type="submit" class="search__submit" value="Найти">
            </form>
        </div>
    </div>
</div>
