$container-width: 1180px;
$body-min-width: 980px;

$bg-nav: #097cb6;
$bg-footer: #2d2d2d;
$bg-header-top: #252525;
$bg-btn: #f95959;
$bg-select: #ebebeb;

$danger: #ff0101;
$details: #88b8d0;

$bg-sale-popular: #52be7f;

$blue: #477efb;

$border-button: #9c9c9d;

$text-primary: #3a3a3c;
$text-crumbs: #787878;

$datepicker-holiday: #4c7fd3;
$datepicker-header: #1e80d7;

//$stuff-transition: all 0.3s cubic-bezier(.77,0,.18,1);
$stuff-transition: all 0.3s ease;