<!--BREADCRUMBS-->
<div class="container services-breadcrumbs">
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Главная</a></li>
        <li>/</li>
        <li class="general"><a href="#">Услуги</a></li>
    </ul>
</div>

<!--SERVICES-->
<div class="services srv">
    <div class="container">
        <h2>услуги</h2>
    </div>
    <div class="bg-services">
        <div class="container columns-services">
            <div class="one-column">
                <div class="title-services blood-tests">
                    <h3>Лабораторная диагностика</h3>
                </div>
                <div class="blood-list">
                    <ul>
                        <li><a href="#">Иммуногематология</a></li>
                        <li><a href="#">Общеклинические исследования</a></li>
                        <li><a href="#">Гематология</a></li>
                        <li><a href="#">Гормоны</a></li>
                        <li><a href="#">Гормоны мочи</a></li>
                        <li><a href="#">Онкомаркеры</a></li>
                        <li><a href="#">Пренатальная диагностика</a></li>
                        <li><a href="#">Иммунный статус</a></li>
                        <li><a href="#">Инфекционные маркеры</a></li>
                        <li><a href="#">Гепатиты</a></li>
                        <li><a href="#">Гельминтозы</a></li>
                        <li><a href="#">Сифилис</a></li>
                        <li><a href="#">Биохимические исследования крови</a></li>
                        <li><a href="#">Биохимические исследования мочи</a></li>
                        <li><a href="#">Гемостаз</a></li>
                        <li><a href="#">ПЦР</a></li>
                        <li><a href="#">Маркеры аутоиммунных заболеваний</a></li>
                        <li><a href="#">Химико-токсикологическое исследование</a></li>
                        <li><a href="#">Микробиологические исследования</a></li>
                        <li><a href="#">Генетические исследования</a></li>
                        <li><a href="#">Аллергены</a></li>
                        <li><a href="#">Гистологические исследования</a></li>
                        <li><a href="#">Иммуногистохимические исследования</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-column">
                <div class="title-services hospital-reception">
                    <h3>ДИАГНОСТИЧЕСКИЕ ИССЛЕДОВАНИЯ</h3>
                </div>
                <div>
                    <div class="usi-list">
                        <a href="#">
                            <h4>УЛЬТРАЗВУКОВЫЕ ИССЛЕДОВАНИЯ</h4>
                        </a>
                        <ul>
                            <li><a href="#">Нейросонография с ЦДК (УЗИ головного мозга у детей до года)</a></li>
                            <li><a href="#">УЗИ тазобедренных суставов у детей</a></li>
                            <li><a href="#">УЗИ вилочковой железы</a></li>
                            <li><a href="#">УЗИ костно-мышечной системы шейного отдела позвоночника у детей</a></li>
                            <li><a href="#">Исследование спинного мозга у детей до года</a></li>
                            <li><a href="#">Транскраниальное исследование структур и сосудов головного мозга у детей (1-7 лет)</a></li>
                            <li><a href="#">УЗИ мышц шеи</a></li>
                            <li><a href="#">Комплексное УЗИ матки и придатков</a></li>
                            <li><a href="#">Комплексное УЗИ матки и придатков с ЦДК</a></li>
                            <li><a href="#">УЗИ в акушерстве (беременность после 12 недель)</a></li>
                            <li><a href="#">3D/4D УЗИ</a></li>
                            <li><a href="#">Запись на диск 3D, 4D - УЗИ в акушерстве без заключения врача</a></li>
                            <li><a href="#">Фолликулометрия</a></li>
                            <li><a href="#">Цервикометрия</a></li>
                            <li><a href="#">Допплерометрия плацентарно-маточного кровотока</a></li>
                            <li><a href="#">Эхогистеросальпингография (УЗИ проходимости маточных труб)</a></li>
                            <li><a href="#">ЭхоКГ с цветным допплеровским картированием (УЗИ сердца)</a></li>
                            <li><a href="#">УЗИ молочных желез</a></li>
                            <li><a href="#">УЗИ молочных желез с эластографией</a></li>
                            <li><a href="#">УЗИ щитовидной железы с ЦДК</a></li>
                            <li><a href="#">УЗИ щитовидной железы с ЦДК и эластографией</a></li>
                            <li><a href="#">Эластография</a></li>
                            <li><a href="#">Комплексное УЗИ органов брюшной полости</a></li>
                            <li><a href="#">УЗИ кишечника</a></li>
                            <li><a href="#">УЗИ почек-надпочечников</a></li>
                            <li><a href="#">УЗИ печени, желчного пузыря с определением функции</a></li>
                            <li><a href="#">УЗИ печени, желчного пузыря</a></li>
                            <li><a href="#">УЗИ поджелудочной железы</a></li>
                            <li><a href="#">УЗИ селезенки</a></li>
                            <li><a href="#">УЗИ мочевого пузыря</a></li>
                            <li><a href="#">УЗИ мочевого пузыря с определением остаточной мочи</a></li>
                            <li><a href="#">Трансабдоминальное УЗИ простаты с определением остаточной мочи</a></li>
                            <li><a href="#">УЗИ мошонки с ЦДК</a></li>
                            <li><a href="#">Трансректальное УЗИ предстательной железы</a></li>
                            <li><a href="#">Трансректальное УЗИ предстательной железы с эластографией</a></li>
                            <li><a href="#">УЗИ поверхностных лимфоузлов</a></li>
                            <li><a href="#">УЗИ поверхностных лимфоузлов с эластографией</a></li>
                            <li><a href="#">УЗИ забрюшинных лимфоузлов</a></li>
                            <li><a href="#">УЗДГ брахиоцефальных сосудов</a></li>
                            <li><a href="#">УЗДГ почечных артерий</a></li>
                            <li><a href="#">УЗДГ сосудов верхних конечностей (вены или артерии)</a></li>
                            <li><a href="#">УЗДГ сосудов нижних конечностей (вены или артерии)</a></li>
                            <li><a href="#">УЗДГ брюшного отдела аорты</a></li>
                            <li><a href="#">УЗИ слюнных желез</a></li>
                            <li><a href="#">УЗИ мягких тканей с ЦДК</a></li>
                            <li><a href="#">УЗИ мягких тканей с ЦДК и эластографией</a></li>
                            <li><a href="#">УЗИ паращитовидных желез</a></li>
                            <li><a href="#">УЗИ грудных желез</a></li>
                            <li><a href="#">УЗИ лонного сочленения</a></li>
                            <li><a href="#">УЗИ коленных суставов</a></li>
                            <li><a href="#">УЗИ глазного яблока с ЦДК</a></li>
                            <li><a href="#">УЗИ придаточных пазух носа</a></li>
                            <li><a href="#">Запись УЗИ на диск</a></li>
                        </ul>
                    </div>
                    <div class="functional-diagnostics">
                        <a href="#">
                            <h4>ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА</h4>
                        </a>
                        <ul>
                            <li><a href="#">Суточное холтеровское мониторирование ЭКГ</a></li>
                            <li><a href="#">ЭКГ</a></li>
                            <li><a href="#">Кардиотокография (исследование внутриутробного состояния плода)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="one-column red">
                <div class="title-services doctor">
                    <h3>УСЛУГИ СПЕЦИАЛИСТОВ</h3>
                </div>
                <div>
                    <div class="womens">
                        <a href="#">
                            <h4>Женское:</h4>
                        </a>
                        <ul>
                            <li><a href="#">Гинекология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Маммология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Гематология</a></li>
                            <li><a href="#">Онкология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Терапия</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                    <div class="mens">
                        <a href="#">
                            <h4>Мужское:</h4>
                        </a>
                        <ul>
                            <li><a href="#">Андрология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Гематология</a></li>
                            <li><a href="#">Онкология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Терапия</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                    <div class="childrens">
                        <a href="#">
                            <h4>Детское:</h4>
                        </a>
                        <ul>
                            <li><a href="#">Неонатология</a></li>
                            <li><a href="#">Педиатрия</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Ортопедия</a></li>
                            <li><a href="#">Хирургия</a></li>
                            <li><a href="#">Гинекология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Ревматология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="one-column">
                <div class="title-services complex-programs">
                    <h3>КОМПЛЕКСНЫЕ ПРОГРАММЫ</h3>
                </div>
                <div class="comlex-diagnostics">
                    <ul>
                        <li><a href="#">Биохимический анализ крови, базовый</a></li>
                        <li><a href="#">Биохимический анализ крови, расширенный</a></li>
                        <li><a href="#">TORCH-комплекс, скрининг</a></li>
                        <li><a href="#">TORCH-комплекс, расширенный</a></li>
                        <li><a href="#">ПЦР Фемофлор-8 (ДНК)</a></li>
                        <li><a href="#">ПЦР Фемофлор-16 (ДНК)</a></li>
                        <li><a href="#">ПЦР-6 (кач.) комплекс</a></li>
                        <li><a href="#">ПЦР-6 (полуколич.) комплекс</a></li>
                        <li><a href="#">ПЦР-10 (полуколич.) + Вирус папилломы человека ВКР (скриннинг) комплекс</a></li>
                        <li><a href="#">ПЦР-10 (кач.) + Вирус папилломы человека ВКР (скриннинг) комплекс</a></li>
                        <li><a href="#">Ведение беременности</a></li>
                        <li><a href="#">Комплексное обследование для мужчин</a></li>
                        <li><a href="#">Комплексное обследование для женщин</a></li>
                        <li><a href="#">Комплексное обследование по кардиологии</a></li>
                        <li><a href="#">Комплексное обследование печени</a></li>
                        <li><a href="#">Комплексное обследование функции почек</a></li>
                        <li><a href="#">Комплексное обследование системы пищеварения</a></li>
                        <li><a href="#">Комплексное обследование щитовидной железы</a></li>
                        <li><a href="#">Комплексное обследование "Мужское здоровье"</a></li>
                        <li><a href="#">Комплексное обследование на инфекции, передающиеся половым путём</a></li>
                        <li><a href="#">Комплексное обследование для женщин "Подготовка к беременности"</a></li>
                        <li><a href="#">Комплексное обследование для мужчин "Подготовка к беременности"</a></li>
                        <li><a href="#">Комплексная программа наблюдения детей от 0 до 1 года для мальчика</a></li>
                        <li><a href="#">Комплексная программа наблюдения детей от 0 до 1 года для девочки</a></li>
                        <li><a href="#">Комплексная программа для женщин "Бассейн"</a></li>
                        <li><a href="#">Комплексная программа для мужчин "Бассейн"</a></li>
                        <li><a href="#">Комплексная программа для малыша "Бассейн"</a></li>
                        <li><a href="#">Комплексная программа по коррекции веса</a></li>
                        <li><a href="#">Подготовка к операции</a></li>
                        <li><a href="#">Мини-комплекс по гинекологии</a></li>
                        <li><a href="#">Мини-комплекс по эндокринологии</a></li>
                        <li><a href="#">Мини-комплекс по терапии</a></li>
                        <li><a href="#">Мини-комплекс по гастроэнтерологии</a></li>
                        <li><a href="#">Мини-комплекс по кардиологии</a></li>
                        <li><a href="#">Мини-комплекс по неврологии</a></li>
                        <li><a href="#">Мини-комплекс по урологии для женщин</a></li>
                        <li><a href="#">Мини-комплекс по урологии для мужчин</a></li>
                        <li><a href="#">Мини-комплекс по детской ортопедии</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="etaps">
    <div class="container">
        <h2>этапы получения услуг</h2>
        <div class="etaps__box">
            <div class="etaps__one">
                <img src="%=static=%img/content/etaps1.png" alt="">
                <strong>Обращение пациента<br> в клинику</strong>
            </div>
            <div class="etaps__one">
                <img src="%=static=%img/content/etaps2.png" alt="">
                <strong>Консультация</strong>
            </div>
            <div class="etaps__one">
                <img src="%=static=%img/content/etaps3.png" alt="">
                <strong>Оформление договора<br> и оплата</strong>
            </div>
            <div class="etaps__one">
                <img src="%=static=%img/content/etaps4.png" alt="">
                <strong>Приём</strong>
            </div>
        </div>
    </div>
</div>

<div class="services-info">
    <div class="container">
        <h2>услуги</h2>
        <p>Пройти диагностику и обследование в клинике «ЕВРОМЕД» можно как индивидуально, так и всей семьей.Для каждого члена семьи мы можем предложить специальные условия:</p>
        <p>Для самых маленьких пациентов есть"детские дни",когда прием ведут одновременно несколькоспециалистов. В эти дни также можно пройти диагностические и лабораторные исследования, которые призваны обеспечить удобную и качественную диагностику здоровья малышей.</p>
        <p>Для диагностики и лечения женских заболеваний мы используем только передовые методы и технологии, например, для диагностики причин бесплодия и невынашивания беременности используется уникальный метод - офисная гистероскопия. Этот метод при помощи оптической системы эндоскопа позволяет детально обследовать состояние внутренней полости матки. Для беременных женщин есть услуга 3D/4DУЗИ, по результатам проведения которой получается первый фильм с участием будущего малыша.</p>
        <p>На страже мужского здоровья стоят настоящие профессионалы своего дела– урологи и андрологи. В соответствии с европейскими стандартами, а также для удобства пациентов, УЗИ мочевого пузыря и предстательной железы у мужчин можно провести непосредственно в кабинете специалиста.</p>
        <p>В клинике работает накопительная система скидок клиентам и скидки для определенных категорий граждан (инвалиды и пенсионеры). Мы придерживаемся приемлемого уровня цен и стремимся уделить максимум внимания каждому пациенту.</p>
        <p>И, что самое главное, проходя обследование в нашей клинике, Вы можете быть уверены в индивидуальном подходе при обследовании и назначении лечения, а также сохранении конфиденциальности полученных о Вас данных.</p>
    </div>
</div>
