<div class="title-contacts">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li class="general"><a href="#">Контакты</a></li>
        </ul>
        <h2 class="small-h2">контакты</h2>
        <div class="contacts__box clearfix">
            <div class="contacts__box__one">
                <span>телефон для справок в Краснодаре</span>
                <a href="+7(861) 205-50-50">+7(861) 205-50-50</a>
            </div>
            <div class="contacts__box__one">
                <span>адреса</span>
                <strong>улица Ким, 143</strong>
                <strong>улица Лузана, 19</strong>
            </div>
        </div>
    </div>
</div>

<div class="feedback">
    <div class="container">
        <h3>Обратная связь</h3>
        <form action="#" class="feedback__form clearfix">
            <div class="feedback__left">
                <div class="input__cover">
                    <input type="text" placeholder="ИМЯ *">
                </div>
                <div class="input__cover">
                    <input id="input-email" type="email" placeholder="EMAIL *">
                </div>
                <div class="input__cover">
                    <input type="text" placeholder="ТЕЛЕФОН">
                </div>
                <div class="input__cover">
                    <input type="text" placeholder="ТЕМА СООБЩЕНИЯ">
                </div>
            </div>
            <div class="feedback__right">
                <div class="input__cover">
                    <textarea name="message" id="message" placeholder="СООБЩЕНИЕ *"></textarea>
                </div>
            </div>
            <div class="capcha__box clearfix">
                <div class="capcha">
                    <img src="%=static=%img/content/capcha-temp.jpg" alt="">
                </div>
                <div class="enter-capcha clearfix">
                    <label for="enter-capcha__input">введите код указанный на картинке</label>
                    <div class="input__cover">
                        <input type="text" id="enter-capcha__input">
                    </div>
                </div>
                <div class="cover__submit">
                    <input type="submit" value="отправить">
                    <span>не верно введены данные “E-mail”</span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="adress__box container">
    <div class="adress__box__one">
        <h4>улица Лузана, 19</h4>
        <div class="adress__box__one__photo">
            <img src="%=static=%img/content/clinic/adress1.jpg" alt="">
        </div>
        <div id="adress__box__one__map"></div>
        <p>ООО "Современные диагностические технологии"</p>
        <p>Свидетельство о государственной регистрации серия 23 №003516084 от 07.10.2003г.</p>
    </div>
    <div class="adress__box__one">
        <h4>улица Ким, 143</h4>
        <div class="adress__box__one__photo">
            <img src="%=static=%img/content/clinic/adress2.jpg" alt="">
        </div>
        <div id="adress__box__one__map2"></div>
        <p>ООО "Клиника ЕВРОМЕД"</p>
        <p>Свидетельство о государственной регистрации серия 23 №007679258 от 02.03.2010г.</p>
        <strong>Забор анализов до 11.00</strong>
    </div>
</div>

