<div class="popular-services">
    <div class="container">
        <h2>ПОПУЛЯРНЫЕ УСЛУГИ</h2>
        <div class="popular-services__slider__cover">
            <div class="popular-services__slider">
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
                <div class="popular-services__slide clearfix">
                    <div class="popular-services__slide__image">
                        <img src="%=static=%img/content/services/service1.jpg" alt="">
                    </div>
                    <div class="popular-services__slide__info">
                        <div class="cover-info">
                            <a href="#">
                                <h3>Холтеровское суточное мониторирование ЭКГ</h3>
                            </a>
                            <p>В Клинике «ЕВРОМЕД» Вы можете пройти точную диагностику нарушений ритма сердца и ишемической болезни методом холтеровского мониторирования ЭКГ.</p>
                            <p>Холтеровское мониторирование ЭКГ — метод электрофизиологической диагностики, предложенный американским биофизиком Норманом Холтером. Суть методики заключается в непрерывной регистрации ЭКГ в течение 24 и более часов, на пациента одеваются датчики, которые производят постоянную регистрацию сокращений сердечной мышцы. Данный метод является одним из основных для диагностики</p>
                        </div>
                        <a href="#">подробнее</a>
                    </div>
                </div>
            </div>
            <div class="total__container">
                <div class="arrows__container">
                    <div class="dots__container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
