<div class="slider center">
            <div class="slide left" style="background-image: url(img/content/slider/01.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/02.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/03.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/04.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/05.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/06.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
        </div>
        <div class="slider center">
            <div class="slide left" style="background-image: url(img/content/slider/04.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/05.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/06.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/01.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/02.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
            <div class="slide left" style="background-image: url(img/content/slider/03.jpg)">
                <div class="slide-content">
                    <div class="slide-h">Image title / album</div>
                    <div class="slide-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
        </div>