<select class="stuff-option">
    <option value="">Choose color</option>
    <option value="blue">Blue</option>
    <option value="red">Red</option>
    <option value="yellow">Yellow</option>
    <option value="black">Black</option>
</select>