<form class="form form-contact" id="form">
    <div class="h mbc">Contact us</div>
    <div class="form-intro center">Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing and typesetting industry</div>
    <div class="container">
        <div class="fields left">
            <div class="field">
                <input class="input input-block" type="email" placeholder="Email address" required />
            </div>
            <div class="field">
                <select class="field-select left">
                    <option class="option-fake">Add contact</option>
                    <option data-icon="mail-dark">Email</option>
                    <option data-icon="skype-dark">Skype</option>
                    <option data-icon="qq-dark">QQ</option>
                    <option data-icon="jabber-dark">Jabber</option>
                    <option data-icon="wickr-dark">Wickr</option>
                </select>
                <input type="text" class="input right" placeholder="Contact info" required />
            </div>
            <div class="field">
                <textarea placeholder="Describe your requests in details such as product name, quantity product, country of delivery, preferred payment method etc" class="input  input-block input-textarea" required></textarea>
            </div>
            <div class="nav nav-form">
                <div class="form-captcha">
                    <input type="text" class="input input-captcha" placeholder="3 + 5 = ?" required />
                    <label class="label label-accept">
                        <input type="checkbox" required class="input-hidden" />
                        <span class="la-content">
                            <span class="la-checkbox">
                                <span class="la-yes">Yes</span>
                                <span class="la-no">No</span>
                                <span class="la-circle"></span>
                            </span>
                            <span class="la-text">I accept the privacy terms</span>
                        </span>
                    </label>
                </div>
                <input type="submit" class="btn" value="Send message" />
            </div>
        </div>
        <div class="contacts left">
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-phone-dark"></i>
                </span>
                <span class="c-icon-name">Phone : 2881982871</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-mail-dark"></i>
                </span>
                <span class="c-icon-name">Email : Sale@Biochemics.com</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-mail-dark"></i>
                </span>
                <span class="c-icon-name">Extra email : Sale@Biochemics.com</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-skype-dark"></i>
                </span>
                <span class="c-icon-name">Skype : Biochemics</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-qq-dark"></i>
                </span>
                <span class="c-icon-name">QQ : 129573524</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-jabber-dark"></i>
                </span>
                <span class="c-icon-name">Jabber : Jabber@Biochemics.com</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-wickr-dark"></i>
                </span>
                <span class="c-icon-name">Wickr : Contact info</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-fax-dark"></i>
                </span>
                <span class="c-icon-name">Fax : Contact info</span>
            </div>
            <div class="c-item">
                <span class="c-icon">
                    <i class="icon icon-chat-dark"></i>
                </span>
                <span class="c-icon-name">LiveChat : Contact info</span>
            </div>
        </div>
    </div>
</form>