<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="nav nav-footer">
                <div class="nav nav-sitemap">
                    <ul class="ul-nav">
                        <li class="upper"><a href="">Lorem ipsum</a></li>
                        <li><a href="">MyCard</a></li>
                        <li><a href="">Order History</a></li>
                        <li><a href="">MyGroupBy</a></li>
                        <li><a href="">New Releases</a></li>
                        <li><a href="">Track My Order</a></li>
                    </ul>
                    <ul class="ul-nav">
                        <li class="upper"><a href="">Lorem ipsum</a></li>
                        <li><a href="">Buy a Sample</a></li>
                        <li><a href="">Delivery</a></li>
                        <li><a href="">Payment</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Partnership</a></li>
                    </ul>
                    <ul class="ul-nav">
                        <li class="upper"><a href="">Lorem ipsum</a></li>
                        <li><a href="">Privacy policy</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">MyGroupBy</a></li>
                        <li><a href="">New Releases</a></li>
                    </ul>
                </div>
                <div class="footer-feedback">
                    <form action="index.html" class="subscribe">
                        <div class="caption">Don’t miss a thing</div>
                        <fieldset class="fieldset">
                            <input type="email" class="input" placeholder="Get our e-newsletter" required />
                            <input type="submit" class="btn" value="Subscribe" />
                        </fieldset>
                    </form>
                    <div class="footer-join">
                        <div class="caption">Join the conversation</div>
                        <nav class="nav nav-conversation">
                            <a href="" class="icon icon-phone"></a>
                            <a href="" class="icon icon-mail"></a>
                            <a href="" class="icon icon-skype"></a>
                            <a href="" class="icon icon-pingiun"></a>
                            <a href="" class="icon icon-bulb"></a>
                            <a href="" class="icon icon-wickr"></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="nav nav-payment">
                <i class="icon icon-lookchem"></i>
                <i class="icon icon-line"></i>
                <i class="icon icon-geotrust"></i>
                <i class="icon icon-verisign"></i>
                <i class="icon icon-line"></i>
                <i class="icon icon-moneygram"></i>
                <i class="icon icon-wire"></i>
                <i class="icon icon-bitcoin"></i>
                <i class="icon icon-western"></i>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>

