<div class="modal modal-group-buy fade" id="join-to-group-buy-01">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <form class="modal-form-authorize">
                    <div class="modal-heading">authorize</div>
                    <div class="modal-row">
                        <input type="email" required class="input input-modal" placeholder="E-mail" />
                    </div>
                    <div class="modal-row">
                        <input type="password" required class="input input-modal" placeholder="Password" />
                        <button type="button" class="password-toggle">
                            <i class="icon icon-eye"></i>
                        </button>
                    </div>
                    <div class="modal-row">
                        <div class="modal-proposal">
                            <span class="modal-proposal-text">Don’t have an account?</span>
                            <a href="" class="modal-proposal-link">Create one</a>
                        </div>
                    </div>
                    <div class="modal-row">
                        <button type="submit" class="modal-push modal-push-normal">Sign in</button>
                    </div>
                </form>
                <form class="modal-form-register hidden">
                    <div class="modal-heading">Registration</div>
                    <div class="modal-row">
                        <input type="text" required class="input input-modal" placeholder="Login" />
                    </div>
                    <div class="modal-row">
                        <input type="email" required class="input input-modal" placeholder="E-mail" />
                    </div>
                    <div class="modal-row">
                        <input type="password" required class="input input-modal" placeholder="Password" />
                        <button type="button" class="password-toggle">
                            <i class="icon icon-eye"></i>
                        </button>
                    </div>
                    <div class="modal-row">
                        <button type="submit" class="modal-push modal-push-normal">Create account</button>
                    </div>
                </form>
                <div class="modal-form-success hidden">
                    <div class="modal-success">
                        <i class="icon icon-logged-in"></i>
                        <div class="modal-success-text">you’ve successfully logged in</div>
                    </div>
                </div>
                <form class="modal-form-group-buy">
                    <div class="modal-random-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
                    <div class="modal-quant">
                        <div class="input-count-wrapper">
                            <button data-price="362" class="js-count input-count-minus" type="button">-</button>
                            <input class="input-count" data-currency="$" type="text" value="100gr" step="100" name="quantity" />
                            <button data-price="362" class="js-count input-count-plus" type="button">+</button>
                        </div>
                        <div class="modal-price">362$</div>
                    </div>
                    <div class="modal-prepayment">Prepayment amount - $ 18</div>
                    <button type="submit" class="modal-push" disabled>
                        <span class="modal-push-innerwrap">
                            <i class="icon icon-bitcoin-logo"></i>
                            <span class="modal-push-text">PREPAY OF 5%</span>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>