<div class="shop-section">
    <h3 class="h">Lorem ipsum</h3>
    <div class="shop-text center">Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing and typesetting industry</div>
    <div class="js-tabs shop-country">
        <div class="nav nav-shop-country">
            <select class="select-country">
                <option class="option-fake">Select country</option>
                <option value="1">USA</option>
                <option value="2">Great Britain</option>
                <option value="3">China</option>
            </select>
            <div class="flags">
                <div class="flag" data-value="1" style="background-image: url(img/content/shop/flag-usa.png)"></div>
                <div class="flag" data-value="2" style="background-image: url(img/content/shop/flag-bri.png)"></div>
                <div class="flag" data-value="3" style="background-image: url(img/content/shop/flag-chi.png)"></div>
            </div>
            <nav class="nav nav-compounds">
                <a href="#kg-1" class="active js-tab-trigger nc-link">D-Intermediates</a>
                <a href="#kg-2" class="nc-link js-tab-trigger">сompound</a>
                <a href="#kg-3" class="nc-link js-tab-trigger">4-AAc</a>
                <a href="#kg-4" class="nc-link js-tab-trigger">K-compound</a>
                <a href="#kg-5" class="nc-link js-tab-trigger">4-CHK</a>
                <a href="#kg-6" class="nc-link js-tab-trigger">4-Ma-LiS</a>
                <a href="#kg-7" class="nc-link js-tab-trigger">5-FKLo</a>
                <a href="#kg-8" class="nc-link js-tab-trigger">5-EED</a>
                <a href="#kg-9" class="nc-link js-tab-trigger">5-M-Intermediates</a>
                <a href="#kg-10" class="nc-link js-tab-trigger">L-compoud</a>
                <a href="#kg-11" class="nc-link js-tab-trigger">PS-PvA</a>
            </nav>
        </div>
        <div id="kg-1" class="js-tab-target kg-wrap active">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-2" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-3" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-4" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-5" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-6" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-7" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-8" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-9" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-10" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
        <div id="kg-11" class="js-tab-target kg-wrap">
            <div class="kg">
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 2100/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">5-25</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1900/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">25-50</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1700/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">50-100</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
            <div class="kg-item">
                <div class="kg-item-inner">
                    <div class="kg-sum">USD 1500/KG</div>
                    <div class="kg-kg">
                        <div class="preorder-weight">100+</div>
                        <div>KG</div>
                    </div>
                    <div class="kg-name">White crystalline powder</div>
                    <a class="preorder-button" href="" data-target="#product" data-toggle="modal" class="kg-button">PRE-ORDER NOW</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>