<form class="modal modal-order fade" id="order-01">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="m-order-head">Pre-order form</div>
                <div class="m-order-row">
                    <div class="m-order-caption">Product Name:</div>
                    <input type="text" class="input input-ok" placeholder="Some pre-order names" required />
                </div>
                <div class="m-order-row">
                    <div class="m-order-caption">Email:</div>
                    <input type="email" class="input" placeholder="Some@name.com..." required />
                </div>
                <div class="m-order-row">
                    <div class="m-order-cell">
                        <div class="m-order-caption">Quantity:</div>
                        <input type="text" class="input" placeholder="150" required />
                    </div>
                    <div class="m-order-cell">
                        <div class="m-order-caption">Weight:</div>
                        <select class="m-order-select">
                            <option class="option-fake">KG</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="m-order-row">
                    <div class="m-order-caption">Comments*:</div>
                    <textarea class="input input-textarea" placeholder="Some your text ..." required></textarea>
                </div>
                <div class="m-order-submit">
                    <button type="submit" class="modal-push modal-push-normal">ORDer now</button>
                </div>
            </div>
        </div>
    </div>
</form>