<form class="modal modal-confirm fade" id="form-sign-reg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <div class="modal-left">
                    <div class="confirm-name center">Sign in</div>
                    <div class="mh-row">
                        <input type="email" class="input input-block" placeholder="EMAIL" required>
                    </div>
                    <div class="mh-row pass">
                        <input type="password" class="input input-block" placeholder="PASSWORD" required>
                        <span class="eye-pass icon icon-eye"></span>
                    </div>
                    <div class="mh-row forgot-container">
                        <span class="forgot">Forgot password?</span>
                        <input id="forgot" class="custom-checkbox" type="checkbox" required>
                        <label class="label-checkbox" for="forgot">Remember me</label>
                    </div>
                    <div class="center">
                        <button type="submit" class="modal-push">
                            <span class="modal-push-innerwrap">SIGN IN</span>
                        </button>
                    </div>
                </div>
                <div class="modal-right">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <div class="confirm-name center">Registration</div>
                    <div class="mh-row">
                        <input type="text" class="input input-block" placeholder="USERNAME" required>
                    </div>
                    <div class="mh-row">
                        <input type="email" class="input input-block" placeholder="EMAIL" required>
                    </div>
                    <div class="mh-row pass">
                        <input type="password" class="input input-block" placeholder="PASSWORD" required>
                        <span class="eye-pass icon icon-eye"></span>
                    </div>
                    <div class="mh-row term">
                        <input id="term-us-use" class="custom-checkbox" type="checkbox" required>
                        <label class="label-checkbox" for="term-us-use">I agree to the Terms of Use and to receive emails.</label>
                    </div>
                    <div class="center">
                        <button type="submit" class="modal-push">
                            <span class="modal-push-innerwrap">CREATE ACCOUNT</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>