<div class="viewed center">
    <div class="container">
        <h3 class="p-head center">You have previously search for</h3>
        <div class="viewed-items-wrap">
            <div class="viewed-items">
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/2.png" alt="img" />
                    </div>
                    <div>3-lyyladenine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/3.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/4.png" alt="img" />
                    </div>
                    <div>Tiazoviazin</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/5.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/6.png" alt="img" />
                    </div>
                    <div>3-lyyladenine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/7.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/2.png" alt="img" />
                    </div>
                    <div>3-lyyladenine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/3.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/4.png" alt="img" />
                    </div>
                    <div>Tiazoviazin</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/5.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/6.png" alt="img" />
                    </div>
                    <div>3-lyyladenine</div>
                </a>
                <a href="" class="viewed-item">
                    <div class="viewed-img">
                        <img src="img/content/category/7.png" alt="img" />
                    </div>
                    <div>Darsoledine</div>
                </a>
            </div>
            <div class="viewed-arrows"></div>
        </div>
    </div>
</div>