.popup__chose-analyzes {
    display: none;
    width: 558px;
    padding: 20px 0 0;
    background-color: #457938;
    border-radius: 3px;
    box-shadow: -2px 0 35px rgba(48, 48, 48, 0.32);
    color: white;
    font-size: 14px;
    h2 {
        color: white;
        font-family: $f-pf-r;
        font-size: 25px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .chose-analysis__one {
        width: 100%;
        &:not(:last-of-type) {
            border-bottom: 1px solid #83a172;
        }
        tr {
            td {
                padding: 12px 0;
                &:last-of-type {
                    width: 45px;
                    vertical-align: top;
                }
                &:nth-of-type(4) {
                    width: 80px;
                    text-align: left;
                }
                &:nth-of-type(3) {
                    width: 85px;
                }
                &:nth-of-type(2) {
                    width: 80px;
                }
                &:first-of-type {
                    padding-left: 20px;
                }
            }
            &:hover {
                td {
                    background-color: #2f5d24;
                }
            }
        }
        &.empty {
            opacity: 0;
            visibility: hidden;
        }
    }
}
a.delete-this-analysis {
    width: 18px;
    height: 18px;
    background-image: url(%=static=%content/icons-svg/trash-can.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
}
.sum-analyzes {
    padding: 25px 20px 35px;
    margin-top: 130px;
    border-top: 1px solid #83a172;
    font-size: 25px;
    font-family: $f-pf-r;
    text-transform: uppercase;
    i {
        font-size: 18px;
        text-transform: lowercase;
    }
}
