<div class="title-services-specialists">
    <img src="%=static=%img/general/about-clinic.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li class="general"><a href="#">О клинике</a></li>
        </ul>
        <h2>о клинике</h2>
    </div>
</div>
<div class="container about-clinic-advantage not-index">
    <div class="advantages__left about-lab">
        <p>Клиника «Евромед» открыла свои двери для клиентов в марте 2004 года. Из предоставляемых услуг на начальном этапе работы имелся только кабинет ультразвуковой диагностики и большое желание качественно работать. Сегодня Клиника «Евромед» одна из известных в городе Краснодаре, где проводится обследование и лечение по всем направлениям: терапия, кардиология, гастроэнтерология, эндокринология, неврология, дерматология, урология, акушерство и гинекология, маммология, оториноларингология, функциональная диагностика, УЗ диагностика, детская и взрослая неврология, детская ортопедия, педиатрия, хирургия, онкология, гематология, аллергология, психотерапия.</p>
        <a href="#" target="_blank" class="our-licenses">Наши лицензии на медицинскую деятельность</a>
    </div>
    <div class="advantages__right">
        <div class="advantages__item white">
            <h3>преимущества клиники</h3>
        </div>
        <div class="advantages__item green med-centers">
            <h3>ЛЕЧЕНИЕ НА БАЗЕ ДВУХ МЕДИЦИНСКИХ ЦЕНТРОВ</h3>
        </div>
        <div class="advantages__item green spec">
            <h3>ВЫСОКАЯ КВАЛИФИКАЦИЯ СПЕЦИАЛИСТОВ</h3>
        </div>
        <div class="advantages__item green own-laboratory-base">
            <h3>СОБСТВЕННАЯ ЛАБараторная БАЗА</h3>
        </div>
        <div class="advantages__item green pregnancy">
            <h3>ведение беременности</h3>
        </div>
        <div class="advantages__item green complex-programs">
            <h3>комплексный подход к лечению</h3>
        </div>
    </div>
</div>

<div class="photo-clinic">
    <div class="container">
        <div class="half-box left">
            <div class="half-box__top" style="background-image: url(static/img/content/clinic/photo2.jpg)"></div>
            <div class="half-box__bottom">
                <div class="half-box-small" style="background-image: url(static/img/content/clinic/photo3.jpg)"></div>
                <div class="half-box-small" style="background-image: url(static/img/content/clinic/photo4.jpg)"></div>
            </div>
        </div>
        <div class="half-box right" style="background-image: url(static/img/content/clinic/photo1.jpg)"></div>
    </div>
</div>

<div class="tabs">
    <div class="container">
        <div class="tabs-title__box">
            <div class="tabs__item active">
                <span>лабораторная диагностика</span>
            </div>
            <div class="tabs__item">
                <span>диагностические исследования</span>
            </div>
            <div class="tabs__item">
                <span>услуги специалистов</span>
            </div>
        </div>
        <div class="tabs-info__box">
            <div class="tabs-info__item">
                <form action="" class="search-analyses__form">
                    <input class="search-analyses__input" type="search" placeholder="Введите название анализа">
                    <div class="search-analyses__button__cover">
                        <input class="search-analyses__button" type="submit" value="Поиск">
                    </div>
                </form>
                <ul class="alphabet">
                    <li class="active"><a href="#">а</a></li>
                    <li><a href="#">б</a></li>
                    <li><a href="#">в</a></li>
                    <li><a href="#">г</a></li>
                    <li><a href="#">д</a></li>
                    <li><a href="#">е</a></li>
                    <li><a href="#">ё</a></li>
                    <li><a href="#">ж</a></li>
                    <li><a href="#">з</a></li>
                    <li><a href="#">и</a></li>
                    <li><a href="#">к</a></li>
                    <li><a href="#">л</a></li>
                    <li><a href="#">м</a></li>
                    <li><a href="#">н</a></li>
                    <li><a href="#">о</a></li>
                    <li><a href="#">п</a></li>
                    <li><a href="#">р</a></li>
                    <li><a href="#">с</a></li>
                    <li><a href="#">т</a></li>
                    <li><a href="#">у</a></li>
                    <li><a href="#">ф</a></li>
                    <li><a href="#">х</a></li>
                    <li><a href="#">ц</a></li>
                    <li><a href="#">ч</a></li>
                    <li><a href="#">ш</a></li>
                    <li><a href="#">щ</a></li>
                    <li><a href="#">э</a></li>
                    <li><a href="#">ю</a></li>
                    <li><a href="#">я</a></li>
                </ul>
                <div class="choose-analyzes__box">
                    <ul class="choose-analyzes__list">
                        <li><a href="#">Иммуногематология</a></li>
                        <li><a href="#">Общеклинические исследования</a></li>
                        <li><a href="#">Гематология</a></li>
                        <li><a href="#">Гормоны</a></li>
                        <li><a href="#">Гормоны мочи</a></li>
                        <li><a href="#">Онкомаркеры</a></li>
                        <li><a href="#">Пренатальная диагностика</a></li>
                        <li><a href="#">Иммунный статус</a></li>
                        <li><a href="#">Инфекционные маркеры</a></li>
                    </ul>
                    <ul class="choose-analyzes__list">
                        <li><a href="#">Гепатиты</a></li>
                        <li><a href="#">Гельминтозы</a></li>
                        <li><a href="#">Сифилис</a></li>
                        <li><a href="#">Биохимические исследования крови</a></li>
                        <li><a href="#">Биохимические исследования мочи</a></li>
                        <li><a href="#">Гемостаз</a></li>
                        <li><a href="#">ПЦР</a></li>
                        <li><a href="#">Маркеры аутоиммунных заболеваний</a></li>
                        <li><a href="#">Химико-токсикологическое исследование</a></li>
                    </ul>
                    <ul class="choose-analyzes__list">
                        <li><a href="#">Микробиологические исследования</a></li>
                        <li><a href="#">Генетические исследования</a></li>
                        <li class="active"><a href="#">Аллергены</a></li>
                        <li><a href="#">Гистологические исследования</a></li>
                        <li><a href="#">Иммуногистохимические исследования</a></li>
                    </ul>
                </div>
                <div class="analyzes-all__box">
                    <table class="analysis__one">
                        <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                        <tr>
                            <td>Аскарида (Ascaris lumbricoides)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="analysis__one">
                        <caption>АЛЛЕРГОЛОГИЯ / Аллергены грибов и плесени</caption>
                        <tr>
                            <td>Плесневый гриб (Alternaria tenuis)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Плесневый гриб (Aspergillus fumigatus)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Плесневый гриб (Chaetomium globosum)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="analysis__one">
                        <caption>АЛЛЕРГОЛОГИЯ / Аллергены деревьев</caption>
                        <tr>
                            <td>Аскарида (Ascaris lumbricoides)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="analysis__one">
                        <caption>АЛЛЕРГОЛОГИЯ / Аллергены животных</caption>
                        <tr>
                            <td>Аскарида (Ascaris lumbricoides)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table class="analysis__one">
                        <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                        <tr>
                            <td>Аскарида (Ascaris lumbricoides)</td>
                            <td><a href="#" class="show-more-analysis">подробнее</a></td>
                            <td></td>
                            <td>1 дн</td>
                            <td>551 руб</td>
                            <td><a href="#" class="add-analysis">Добавить</a></td>
                        </tr>
                        <tr class="more-about-analysis">
                            <td colspan="6">
                                <div class="more-about-analysis__left">
                                    <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                                </div>
                                <div class="more-about-analysis__right">
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                    </div>
                                    <div class="more-about-analysis__right__description">
                                        <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                    </div>
                                    <div class="more-about-analysis__right__features">
                                        <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tabs-info__item">
                <h3>выберите необходимые вам исследования</h3>
                <div class="cover-usi">
                    <div class="one-column">
                        <div class="usi-list">
                            <a href="#">
                                <h4>УЛЬТРАЗВУКОВЫЕ ИССЛЕДОВАНИЯ</h4>
                            </a>
                            <ul>
                                <li><a href="#">Нейросонография с ЦДК (УЗИ головного мозга у детей до года)</a></li>
                                <li><a href="#">УЗИ тазобедренных суставов у детей</a></li>
                                <li><a href="#">УЗИ вилочковой железы</a></li>
                                <li><a href="#">УЗИ костно-мышечной системы шейного отдела позвоночника у детей</a></li>
                                <li><a href="#">Исследование спинного мозга у детей до года</a></li>
                                <li><a href="#">Транскраниальное исследование структур и сосудов головного мозга у детей (1-7 лет)</a></li>
                                <li><a href="#">УЗИ мышц шеи</a></li>
                                <li><a href="#">Комплексное УЗИ матки и придатков</a></li>
                                <li><a href="#">Комплексное УЗИ матки и придатков с ЦДК</a></li>
                                <li><a href="#">УЗИ в акушерстве (беременность после 12 недель)</a></li>
                                <li><a href="#">3D/4D УЗИ</a></li>
                                <li><a href="#">Запись на диск 3D, 4D - УЗИ в акушерстве без заключения врача</a></li>
                                <li><a href="#">Фолликулометрия</a></li>
                                <li><a href="#">Цервикометрия</a></li>
                                <li><a href="#">Допплерометрия плацентарно-маточного кровотока</a></li>
                                <li><a href="#">Эхогистеросальпингография (УЗИ проходимости маточных труб)</a></li>
                                <li><a href="#">ЭхоКГ с цветным допплеровским картированием (УЗИ сердца)</a></li>
                                <li><a href="#">УЗИ молочных желез</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-column">
                        <div class="usi-list">
                            <ul>
                                <li><a href="#">УЗИ молочных желез с эластографией</a></li>
                                <li><a href="#">УЗИ щитовидной железы с ЦДК</a></li>
                                <li><a href="#">УЗИ щитовидной железы с ЦДК и эластографией</a></li>
                                <li><a href="#">Эластография</a></li>
                                <li><a href="#">Комплексное УЗИ органов брюшной полости</a></li>
                                <li><a href="#">УЗИ кишечника</a></li>
                                <li><a href="#">УЗИ почек-надпочечников</a></li>
                                <li><a href="#">УЗИ печени, желчного пузыря с определением функции</a></li>
                                <li><a href="#">УЗИ печени, желчного пузыря</a></li>
                                <li><a href="#">УЗИ поджелудочной железы</a></li>
                                <li><a href="#">УЗИ селезенки</a></li>
                                <li><a href="#">УЗИ мочевого пузыря</a></li>
                                <li><a href="#">УЗИ мочевого пузыря с определением остаточной мочи</a></li>
                                <li><a href="#">Трансабдоминальное УЗИ простаты с определением остаточной мочи</a></li>
                                <li><a href="#">УЗИ мошонки с ЦДК</a></li>
                                <li><a href="#">Трансректальное УЗИ предстательной железы</a></li>
                                <li><a href="#">Трансректальное УЗИ предстательной железы с эластографией</a></li>
                                <li><a href="#">УЗИ поверхностных лимфоузлов</a></li>
                                <li><a href="#">УЗИ поверхностных лимфоузлов с эластографией</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one-column">
                        <div class="usi-list">
                            <ul>
                                <li><a href="#">УЗИ забрюшинных лимфоузлов</a></li>
                                <li><a href="#">УЗДГ брахиоцефальных сосудов</a></li>
                                <li><a href="#">УЗДГ почечных артерий</a></li>
                                <li><a href="#">УЗДГ сосудов верхних конечностей (вены или артерии)</a></li>
                                <li><a href="#">УЗДГ сосудов нижних конечностей (вены или артерии)</a></li>
                                <li><a href="#">УЗДГ брюшного отдела аорты</a></li>
                                <li><a href="#">УЗИ слюнных желез</a></li>
                                <li><a href="#">УЗИ мягких тканей с ЦДК</a></li>
                                <li><a href="#">УЗИ мягких тканей с ЦДК и эластографией</a></li>
                                <li><a href="#">УЗИ паращитовидных желез</a></li>
                                <li><a href="#">УЗИ грудных желез</a></li>
                                <li><a href="#">УЗИ лонного сочленения</a></li>
                                <li><a href="#">УЗИ коленных суставов</a></li>
                                <li><a href="#">УЗИ глазного яблока с ЦДК</a></li>
                                <li><a href="#">УЗИ придаточных пазух носа</a></li>
                                <li><a href="#">Запись УЗИ на диск</a></li>
                            </ul>
                        </div>
                        <div class="usi-list">
                            <a href="#">
                                <h4>ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА</h4>
                            </a>
                            <ul>
                                <li><a href="#">Суточное холтеровское мониторирование ЭКГ</a></li>
                                <li><a href="#">ЭКГ</a></li>
                                <li><a href="#">Кардиотокография (исследование внутриутробного состояния плода)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabs-info__item">
                <h3>выберите необходимое вам направление</h3>
                <div class="directions__box">
                    <div class="womens">
                        <a href="#">
                            <h4>Женское:</h4>
                        </a>
                        <ul>
                            <li><a href="http://ukr.net">Гинекология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Маммология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Гематология</a></li>
                            <li><a href="#">Онкология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Терапия</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                    <div class="mens">
                        <a href="#">
                            <h4>Мужское:</h4>
                        </a>
                        <ul>
                            <li><a href="#">Андрология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Гематология</a></li>
                            <li><a href="#">Онкология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Терапия</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                    <div class="childrens">
                        <a href="#">
                            <h4>Детское:</h4>
                        </a>
                        <ul>
                            <li><a href="#">Неонатология</a></li>
                            <li><a href="#">Педиатрия</a></li>
                            <li><a href="#">Неврология</a></li>
                            <li><a href="#">Ортопедия</a></li>
                            <li><a href="#">Хирургия</a></li>
                            <li><a href="#">Гинекология</a></li>
                            <li><a href="#">Урология</a></li>
                            <li><a href="#">Эндокринология</a></li>
                            <li><a href="#">Отоларингология</a></li>
                            <li><a href="#">Дерматология</a></li>
                            <li><a href="#">Аллергология</a></li>
                            <li><a href="#">Иммунология</a></li>
                            <li><a href="#">Гастроэнтерология</a></li>
                            <li><a href="#">Кардиология</a></li>
                            <li><a href="#">Ревматология</a></li>
                            <li><a href="#">Инфекционные заболевания</a></li>
                            <li><a href="#">Психотерапия</a></li>
                            <li><a href="#">Офтальмология</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-services-specialists complex bred">
    <div class="container">
        <h3>КЛИНИКА Евро мед</h3>
        <div class="about-services-specialists__text-box">
            <p>Благодаря добросовестности и искреннему стремлению помочь своим клиентам мы заслужили хорошую репутацию и высокое уважение среди наших посетителей. С каждым годом количество клиентов, обратившихся в нашу клинику, растет, и мы стараемся оправдать их ожидания и возложенные на нас надежды.</p>
            <p>В клинике «Евромед» уделяется огромное внимание здоровью семьи. Проблемы бесплодия и половой дисфункции врач гинеколог решает совместно с эндокринологом, андрологом, гематологом, врачом УЗ-диагностики и другими необходимыми специалистами. Причем, обследование совершенно конфиденциально проходят оба партнера.</p>
            <p>Ведение беременности, а затем и наблюдение за ребенком с момента рождения до совершеннолетия, также является заботой специалистов «Евромеда». Педиатр, неонатолог, аллерголог, детский невролог, ортопед, хирург — настоящие защитники детского здоровья.</p>
            <p>Специалистами клиники проводятся исследования для детей, такие как УЗИ тазобедренных суставов у детей до 1-го года, УЗИ вилочковой железы, нейросонография, УЗИ костно-мышечной системы шейного отдела позвоночника, исследование спинного мозга, транскраниальное исследование структур и сосудов головного мозга, КТГ (кардиотокография плода). Для удобного планирования посещения детских специалистов, в клинике существуют специальные «детские дни». На все вопросы, касающиеся Вашего здоровья, Вам ответят высококвалифицированные специалисты.</p>
            <p>Обращение в клинику «Евромед» позволит Вам с уверенностью выявить или исключить такие заболевания как гипертоническая болезнь, сахарный диабет, ишемическая болезнь сердца, анемия, заболевания печени, почек, системы пищевариения и другие. Позволит распознать на начальных стадиях онкологический процесс, никак клинически не проявляющийся.</p>
            <p>В клинике проводятся ультразвуковые исследования органов брюшной полости, почек и надпочечников, мочеполовой системы, органов малого таза, щитовидной, молочной железы,</p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
