<div class="sign-up-doctor">
    <h2>заявка на прием к врачу</h2>
    <span>* Обязательно для заполнения</span>

    <form action="#" class="feedback__form clearfix">
        <div class="input__cover">
            <input type="text" placeholder="ИМЯ *">
        </div>
        <div class="input__cover">
            <input type="email" placeholder="ВАШ E-MAIL *">
        </div>
        <div class="input__cover">
            <input type="text" placeholder="КОНТАКТНЫЙ ТЕЛЕФОН">
        </div>

        <div class="input-label__cover">
            <label for="speciality">Специальность врача *</label>
            <select name="speciality" id="speciality">
                <option>Специальность врача</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
            </select>
        </div>
        <div class="input-label__cover">
            <label for="doctors-name">ВРАЧ:</label>
            <select name="doctors-name" id="doctors-name">
                <option>ФИО ВРАЧА</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
            </select>
        </div>
        <div class="input-label__cover">
            <label for="clinics-adress">Адрес приема</label>
            <select name="clinics-adress" id="clinics-adress">
                <option>ВЫБЕРИТЕ АДРЕС</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
            </select>
        </div>
        <div class="input-label__cover">
            <label for="type-message">ВАМ ОТВЕТИТЬ</label>
            <select name="type-message" id="type-message">
                <option>ВЫБЕРИТЕ УДОБНЫЙ ВИД ОПОВЕЩЕНИЯ</option>
                <option value="Терапевт">Терапевт</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Педиатр">Педиатр</option>
            </select>
        </div>

        <div class="cover__submit">
            <input type="submit" value="отправить">
            <span>не верно введены данные “Контактный телефон”</span>
        </div>
        <p>Нажимая "Отправить" Вы подтверждаете свое согласие на передачу информации в электронной форме заявления (в том числе персональных данных) по открытым каналам связи сети Интернет согласно Федеральному закону от 27.07.2006 №152-Ф3<br>"О персональных данных"</p>
    </form>
</div>
