html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-width: $body-min-width;
}

* {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: inherit;
  }
  &[required], &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

::selection {

}

::-moz-focus-inner {
  border: 0;
}

input, button, select, textarea {
  font: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

a, input[type="submit"], input[type="reset"], label[for], button, select {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #7d7d7d;
}

:-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #7d7d7d;
}

:focus::-webkit-input-placeholder {
  color: transparent !important;
}

:focus:-moz-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

:focus::-moz-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

:focus:-ms-input-placeholder {
  color: transparent !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.container, .clear {
  @include clear();
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

fieldset {
  border: 0;
}

.input-hidden {
  position: absolute;
  opacity: 0;
}