<div id="error-add-to-cart" class="modal fade in mh" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="title-item">CHOOSE ALL PARAMETERS</h3>
                <span class="color-of-product">Choose color of product</span>
                <span class="type-of-product">Choose type of product ('Crystal' or 'Powder')</span>
            </div>
        </div>
    </div>
</div>