<form class="modal modal-confirm fade" id="form-feedback">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="confirm-name">Feedback</div>
                <div class="mh-row">
                    <div class="confirm-caption">Input your e-mail*</div>
                    <input type="email" class="input input-block" required>
                </div>
                <div class="mh-row">
                    <div class="confirm-caption">Your message*</div>
                    <textarea required class="input input-block input-textarea"></textarea>
                </div>
                <div class="center">
                    <button type="submit" class="modal-push">
                        <span class="modal-push-innerwrap">Send</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>