<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone-no" />
    <title>Wantech</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/gui/favicon.png" />
    <script src="https://maps.googleapis.com/maps/api/js" async defer></script>

    <META NAME=»ROBOTS» CONTENT="NOINDEX, NOFOLLOW" />

</head>
<body>