
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="nav nav-top">
                <nav class="nav nav-contact">
                    <a href="" class="icon icon-phone"></a>
                    <a href="" class="icon icon-mail"></a>
                    <a href="" class="icon icon-skype"></a>
                    <a href="" class="icon icon-pingiun"></a>
                    <a href="" class="icon icon-bulb"></a>
                    <a href="" class="icon icon-wickr"></a>
                </nav>
                <nav class="nav nav-help">
                    <a href="" class="nav-link">
                        <i class="icon icon-shipping"></i>
                        <span>Shipping</span>
                    </a>
                    <a href="" class="nav-link">
                        <i class="icon icon-faq"></i>
                        <span>FAQ</span>
                    </a>
                    <a href="" class="nav-link">
                        <i class="icon icon-chat"></i>
                        <span>Live chat</span>
                    </a>
                    <a href="" class="nav-link">
                        <i class="icon icon-placemark"></i>
                        <span>Track order</span>
                    </a>
                    <div class="nav-langs">
                        <a href="" class="nav-link active">English</a>
                        <a href="" class="nav-link">Italiano</a>
                        <a href="" class="nav-link">Deutsch</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="nav nav-bottom">
                <nav class="nav nav-menu upper">
                    <a href="index.html" class="icon icon-big-logo"></a>
                    <a href="about.html" class="nav-link">About us</a>
                    <a href="news.html" class="nav-link">News</a>
                    <a href="services.html" class="nav-link">Services</a>
                    <a href="support-faq.html" class="nav-link">Help &amp; info</a>
                    <a href="shop.html" class="nav-link">Shop</a>
                    <a href="" class="nav-link">Partnership</a>
                    <a href="contact.html" class="nav-link">Contact us</a>
                </nav>
                <nav class="nav nav-account">
                    <a href="" class="nav-link">My account</a>
                    <a href="" class="nav-link icon icon-email"></a>
                    <a href="" class="nav-link icon icon-search"></a>
                    <a href="" class="nav-link icon icon-bag js-cdd-open">
                        <span class="cart-count">3</span>
                    </a>
                    <div class="cart-dropdown">
                        <div class="cdd-inner">
                            <div class="order-items">
                                <div class="order-item">
                                    <a href="" class="order-img" style="background-image: url(img/content/slider/02.jpg)"></a>
                                    <div class="order-desc">
                                        <div class="order-row">
                                            <a href="" class="order-link">Seldafinil crystal</a>
                                            <a href="" class="mo-item-remove"></a>
                                        </div>
                                        <div class="order-row">
                                            <div class="order-muted">Color: Blue</div>
                                        </div>
                                        <div class="order-row">
                                            <div class="order-muted">Weight: 100G</div>
                                            <div class="order-price">$210</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-item">
                                    <a href="" class="order-img" style="background-image: url(img/content/slider/02.jpg)"></a>
                                    <div class="order-desc">
                                        <div class="order-row">
                                            <a href="" class="order-link">Seldafinil crystal</a>
                                            <a href="" class="mo-item-remove"></a>
                                        </div>
                                        <div class="order-row">
                                            <div class="order-muted">Color: Blue</div>
                                        </div>
                                        <div class="order-row">
                                            <div class="order-muted">Weight: 100G</div>
                                            <div class="order-price">$210</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cdd-total center">
                                <span>Total: </span>
                                <span class="cdd-sum">$180</span>
                            </div>
                            <div class="center">
                                <a href="" type="submit" class="mh-push">Secure checkout</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>