<form action="#" id="product" class="modal fade in mh" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="product-row">
                    <div class="product-caption">Product name</div>
                    <input type="text" class="input" placeholder="Add product name" required />
                </div>
                <div class="product-row">
                    <div class="product-caption">Weight</div>
                    <select name="weight" id="" class="order-select">
                        <option selected value="20-25 kg">20-25 kg</option>
                        <option value="25-30 kg">25-30 kg</option>
                        <option value="30-35 kg">30-35 kg</option>
                        <option value="35-40 kg">35-40 kg</option>
                        <option value="40-45 kg">40-45 kg</option>
                    </select>
                </div>
                <div class="product-row">
                    <div class="product-caption">Your email</div>
                    <input type="email" class="input" placeholder="Add your email" required />
                </div>
                <div class="product-row">
                    <div class="product-caption">Your comment</div>
                    <textarea name="comment-about-product" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="center">
                    <button type="submit" class="mh-push" data-dismiss="modal">SEND A REQUEST</button>
                </div>
                <div class="center">
                    <span class="total">USD 1900/KG</span>
                </div>
            </div>
        </div>
    </div>
</form>