<a href="" data-href="#ncd-01" class="nav-link">API’s &amp; Intermediates</a>
<a href="" data-href="#ncd-02" class="nav-link">Heterocyclic compouds</a>
<a href="" data-href="#ncd-03" class="nav-link">Peptides &amp; Amino acids reagents</a>
<a href="" data-href="#ncd-04" class="nav-link">Benzene derivatives</a>
<a href="" data-href="#ncd-05" class="nav-link">Other Chemicals</a>