<div class="similar goods">
    <div class="container">
        <h3 class="p-head center">With this product also bought</h3>
        <div class="similar-items-wrap">
            <div class="similar-items">
                {{> items-2}}
                {{> items}}
            </div>
            <div class="similar-arrows"></div>
        </div>
    </div>
</div>