<form class="modal modal-confirm fade" id="upload-photo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="confirm-name">Upload photo</div>
                <div class="cover-upload clearfix">
                    <label for="upload-recip5">
                        <input id="upload-recip5" type="file" class="input-hidden" />
                        <i class="icon icon-upload2"></i>
                        <span>UPLOAD RECIPT</span>
                    </label>
                    <div class="label-file-name">No file uploaded</div>
                </div>
                <div class="state-upload center"></div>
                <div class="center">
                    <button type="submit" class="modal-push">
                        <span class="modal-push-innerwrap">Send</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>