<select class="stuff-option stuff-weight">
    <option value="300">300&nbsp;gr</option>
    <option value="400">400&nbsp;gr</option>
    <option value="500">500&nbsp;gr</option>
    <option value="1000">1000&nbsp;gr</option>
</select>