<div class="title-services-specialists">
    <img src="%=static=%img/general/laboratory-diagnostics.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Услуги</a></li>
            <li>/</li>
            <li class="general"><a href="#">Лабораторная диагностика</a></li>
        </ul>
        <h2>Лабораторная диагностика</h2>
    </div>
</div>
<div class="for-bg-right">
    <div class="container not-index ld">
        <div class="advantages__left laboratory">
            <strong>В настоящее время лабораторным методам исследования отводится ключевая роль в диагностике и лечении многих заболеваний, при планировании и ведении беременности.</strong>
            <p>Клиника имеет собственную лабораторию, которая использует широкий арсенал современных лабораторных методов исследования, обладающих высокой специфичностью и информативностью для практически всех направлений клинической медицины: кардиологии, гематологии, гастроэнтерологии, педиатрии, пульмонологии, иммунологии, аллергологии, урологии, акушерства и гинекологии, инфекционных заболеваний, эндокринологии и др.</p>
            <p>Оценка качества проводимых анализов постоянно осуществляется Федеральной системой внешней оценки качества лабораторных исследований.</p>
            <p>Основу материально-технической базы лаборатории составляет семейcтво современных инновационных биохимических и иммунохимических анализаторо.</p>
        </div>
        <div class="turn__box">
            <a href="#" class="turn__item_ld">Свернуть</a>
        </div>
        <div class="advantages__right laboratory">
            <div class="advantages__item white pink">
                <h3>наши преимущества</h3>
            </div>
            <div class="advantages__item green blood-tests">
                <h3>СОБСТВЕННАЯ ЛАБОРАТОРИЯ</h3>
            </div>
            <div class="advantages__item green spec">
                <h3>ВЫСОКАЯ КОМПЕТЕНЦИЯ<br /> ВРАЧЕЙ и лаборантов</h3>
            </div>
            <div class="advantages__item green control-quality">
                <h3>ПОСТОЯННЫЙ КОНТРОЛЬ КАЧЕСТВА</h3>
            </div>
            <div class="advantages__item green fast-result">
                <h3>БЫСТРОЕ ПОЛУЧЕНИЕ РЕЗУЛЬТАТОВ</h3>
            </div>
            <div class="advantages__item green rare-tests">
                <h3>НАЛИЧИЕ РЕДКИХ АНАЛИЗОВ</h3>
            </div>
        </div>
    </div>
</div>

<div class="choose-direction ld">
    <div class="container">
        <h3>Выберите необходимые вам анализы</h3>
        <form action="" class="search-analyses__form">
            <input class="search-analyses__input" type="search" placeholder="Введите название анализа">
            <div class="search-analyses__button__cover">
                <input class="search-analyses__button" type="submit" value="Поиск">
            </div>
        </form>
        <ul class="alphabet">
            <li class="active"><a href="#">а</a></li>
            <li><a href="#">б</a></li>
            <li><a href="#">в</a></li>
            <li><a href="#">г</a></li>
            <li><a href="#">д</a></li>
            <li><a href="#">е</a></li>
            <li><a href="#">ё</a></li>
            <li><a href="#">ж</a></li>
            <li><a href="#">з</a></li>
            <li><a href="#">и</a></li>
            <li><a href="#">к</a></li>
            <li><a href="#">л</a></li>
            <li><a href="#">м</a></li>
            <li><a href="#">н</a></li>
            <li><a href="#">о</a></li>
            <li><a href="#">п</a></li>
            <li><a href="#">р</a></li>
            <li><a href="#">с</a></li>
            <li><a href="#">т</a></li>
            <li><a href="#">у</a></li>
            <li><a href="#">ф</a></li>
            <li><a href="#">х</a></li>
            <li><a href="#">ц</a></li>
            <li><a href="#">ч</a></li>
            <li><a href="#">ш</a></li>
            <li><a href="#">щ</a></li>
            <li><a href="#">э</a></li>
            <li><a href="#">ю</a></li>
            <li><a href="#">я</a></li>
        </ul>
        <div class="choose-analyzes__box">
            <ul class="choose-analyzes__list">
                <li><a href="#">Иммуногематология</a></li>
                <li><a href="#">Общеклинические исследования</a></li>
                <li><a href="#">Гематология</a></li>
                <li><a href="#">Гормоны</a></li>
                <li><a href="#">Гормоны мочи</a></li>
                <li><a href="#">Онкомаркеры</a></li>
                <li><a href="#">Пренатальная диагностика</a></li>
                <li><a href="#">Иммунный статус</a></li>
                <li><a href="#">Инфекционные маркеры</a></li>
            </ul>
            <ul class="choose-analyzes__list">
                <li><a href="#">Гепатиты</a></li>
                <li><a href="#">Гельминтозы</a></li>
                <li><a href="#">Сифилис</a></li>
                <li><a href="#">Биохимические исследования крови</a></li>
                <li><a href="#">Биохимические исследования мочи</a></li>
                <li><a href="#">Гемостаз</a></li>
                <li><a href="#">ПЦР</a></li>
                <li><a href="#">Маркеры аутоиммунных заболеваний</a></li>
                <li><a href="#">Химико-токсикологическое исследование</a></li>
            </ul>
            <ul class="choose-analyzes__list">
                <li><a href="#">Микробиологические исследования</a></li>
                <li><a href="#">Генетические исследования</a></li>
                <li><a href="#">Аллергены</a></li>
                <li><a href="#">Гистологические исследования</a></li>
                <li><a href="#">Иммуногистохимические исследования</a></li>
            </ul>
        </div>
        <div class="analyzes-all__box">
            <div class="desktop">
                <table class="analysis__one desktop">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                    <tr>
                        <td class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="analysis__one desktop">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены грибов и плесени</caption>
                    <tr>
                        <td class="name-analyzes">Плесневый гриб (Alternaria tenuis)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-analyzes">Плесневый гриб (Aspergillus fumigatus)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="name-analyzes">Плесневый гриб (Chaetomium globosum)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="analysis__one desktop">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены деревьев</caption>
                    <tr>
                        <td class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"></td>
                        <td class="time-analyzes"></td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="analysis__one desktop">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены животных</caption>
                    <tr>
                        <td class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="analysis__one desktop">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                    <tr>
                        <td class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                        <td class="status-analyzes"></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="mobile-table">
                <table class="analysis__one mobile-table">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                    <tr>
                        <td colspan="3" class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                </table>
                <table class="analysis__one mobile-table">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены грибов и плесени</caption>
                    <tr>
                        <td colspan="3" class="name-analyzes">Плесневый гриб (Alternaria tenuis)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="urgently"></td>
                        <td class="time-analyzes"></td>
                        <td class="price-analysis"></td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="name-analyzes">Плесневый гриб (Aspergillus fumigatus)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="name-analyzes">Плесневый гриб (Chaetomium globosum)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="status-analyzes"><strong>3 часа  716 руб.</strong><span>срочный</span></td>
                        <td class="time-analyzes">1 дн</td>
                        <td class="price-analysis">551 руб</td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                </table>
                <table class="analysis__one mobile-table">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены деревьев</caption>
                    <tr>
                        <td colspan="3" class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="urgently"> </td>
                        <td class="time-analyzes"></td>
                        <td class="price-analysis"></td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                </table>
                <table class="analysis__one mobile-table">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены животных</caption>
                    <tr>
                        <td colspan="3" class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="urgently">551 руб</td>
                        <td class="time-analyzes"></td>
                        <td class="price-analysis"></td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                </table>
                <table class="analysis__one mobile-table">
                    <caption>АЛЛЕРГОЛОГИЯ / Аллергены гельминтов</caption>
                    <tr>
                        <td colspan="3" class="name-analyzes">Аскарида (Ascaris lumbricoides)</td>
                        <td><a href="#" class="show-more-analysis">подробнее</a></td>
                    </tr>
                    <tr class="more-about-analysis">
                        <td colspan="6">
                            <div class="more-about-analysis__left">
                                <p>Выявление антител класса Е, отвечающих за быстрый ответ на введение аллергена. Если организм не имел контакта с данным аллергеном, тест будет отрицательным. Назначается для диагностики IgE-зависимой аллергии (атопии).</p>
                            </div>
                            <div class="more-about-analysis__right">
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Подготовка к анализу :</strong> Рекомендовано сдавать кровь утром натощак или не ранее 2-4 часов после последнего приема пищи.</p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Анализ на дому :</strong> Возможен забор анализа на дому.</p>
                                </div>
                                <div class="more-about-analysis__right__description">
                                    <p><strong>Особенности забора биоматериала:</strong> В лаборатории клинки Евромед. </p>
                                </div>
                                <div class="more-about-analysis__right__features">
                                    <p><strong>Cito :</strong> Возможен срочный анализ.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="urgently">1 дн 551 руб</td>
                        <td class="time-analyzes"></td>
                        <td class="price-analysis"></td>
                        <td><a href="#" class="add-analysis">Добавить</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="about-services-specialists complex clinic-tests">
    <div class="container">
        <h3>подробнее о клинических исследованиях в ЕВРОМЕД</h3>
        <div class="about-services-specialists__text-box">
            <p>Оценка качества проводимых анализов постоянно осуществляется Федеральной системой внешней оценки качества лабораторных исследований. Наличие собственной лаборатории позволяет клинике в кратчайшие сроки выдавать полноценные и точные результаты анализов, а специалистам лаборатории - взаимодействовать напрямую с лечащим врачом при возникновении спорных вопросов. У нас есть возможность выполнения анализов (в большинстве случаев) от нескольких минут до двух часов, выдавать результаты исследований онлайн, отправлять их на электронную почту пациента. В клинике есть услуга выезда медсестры на дом для забора крови взрослому или малышу для проведения анализа, что позволит сэкономить Ваши силы и время.</p>
            <p>Основу материально-технической базы лаборатории составляет семейство современных инновационных биохимических и иммунохимических анализаторов компании AbbotARCHITECT, а также высококачественные тест-системы для диагностики Invitro. Иммунохимические анализаторы использующие хемилюминесцентную технологию, обеспечивают превосходное качество анализов и выполняют следующие исследования: гормоны, онкомаркеры, широкий спектр антител к различным инфекциям, специфические белки, лекарственный мониторинг. <br> В одном биологическом приборе объединены все передовые технологии в выполнении фотометрических и ионоселективных тестов, что позволяет повысить точность результатов и увеличить диапазон линейности тестов: определение активности ферментов, уровня различных субстратов, оценка</p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
