<div class="treatment">
    <div class="container">
        <h2>лечение в клинике</h2>
        <div class="treatment__box">
            <div class="treatment__box__one clearfix">
                <a href="#" class="treatment__box__one__item blood-tests">
                    <h3>ЛАБОРАТОРНАЯ ДИАГНОСТИКА</h3>
                    <span>подробнее</span>
                </a>
                <a href="#" class="treatment__box__one__item hospital-reception">
                    <h3>ДИАГНОСТИЧЕСКИЕ ИССЛЕДОВАНИЯ</h3>
                    <span>подробнее</span>
                </a>
            </div>
            <div class="treatment__box__one clearfix">
                <a href="#" class="treatment__box__one__item doctor">
                    <h3>УСЛУГИ СПЕЦИАЛИСТОВ</h3>
                    <span>подробнее</span>
                </a>
                <a href="#" class="treatment__box__one__item complex-programs">
                    <h3>КОМПЛЕКСНЫЕ ПРОГРАММЫ</h3>
                    <span>подробнее</span>
                </a>
            </div>
        </div>
    </div>
</div>
