<!--NAVIGATION-->
<nav class="nav">
    <div class="container clearfix">
        <a href="#" class="close-menu__button"></a>
        <div class="navigation__cover clearfix">
            <ul class="navigation clearfix">
                <li><a href="#">УСЛУГИ</a></li>
                <li><a href="#">КАЛЬКУЛЯТОР</a></li>
                <li><a href="#">ВРАЧИ</a></li>
                <li><a href="#">О КЛИНИКЕ</a></li>
                <li><a href="#">АКЦИИ</a></li>
                <li><a href="#">ВАКАНСИИ</a></li>
                <li><a href="#">НОВОСТИ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
            <div class="header__right__contacts mobile-version">
                <div class="contacts__info">
                    <div class="contacts__info_left">
                        <span>общая справочная:</span>
                    </div>
                    <div class="contacts__info_right">
                        <a href="tel:+78618888888">+7 (861) 888-88-88</a>
                    </div>
                </div>
                <div class="contacts__info">
                    <div class="contacts__info_left">
                        <span>адреса:</span>
                    </div>
                    <div class="contacts__info_right">
                        <span>улица  Ким, 143</span>
                        <span>улица Лузана, 19</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="search__box desktop-version">
            <form action="#" class="search__form">
                <input type="search" class="search__input" placeholder="Поиск">
                <input type="submit" class="search__submit" value="Найти">
            </form>
        </div>
    </div>
</nav>
