<!--BREADCRUMBS-->
<div class="container spdet">
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Главная</a></li>
        <li>/</li>
        <li><a href="#">Врачи</a></li>
        <li>/</li>
        <li><a href="#">Гастроэнтеролог</a></li>
        <li>/</li>
        <li class="general"><a href="#">Смирнова Татьяна Александровна</a></li>
    </ul>
</div>

<div class="container one-doctor__details-box">
    <h2>Смирнова Татьяна Александровна</h2>
    <h3>гастроэнтеролог</h3>
    <div class="one-doctor__details clearfix">
        <div class="one-doctor__details__image">
            <img src="%=static=%img/content/doctors/smirnova-big.jpg" alt="">
        </div>
        <div class="one-doctor__details__info">
            <h4>Врач-гастроэнтеролог, кандидат медицинских наук</h4>
            <span>Принимает: <a href="#">улица Ким, 143</a></span>
            <strong>Телефон: <a href="tel:+78618888888">+7 (861) 888-88-88</a></strong>
            <p>Гастроэнтерология — раздел медицины, занимающийся диагностикой и лечением заболеваний желудочно-кишечного тракта: пищевода, желудка, двенадцатиперстной кишки, кишечника, печени,желчного пузыря, поджелудочной железы.</p>
            <p>Нарушения в работе органов ЖКТ негативно влияют на качество жизни человека, способствуют ослаблению иммунитета, вызывают и поддерживают упорное течение аллергических и кожных заболеваний. Хронические заболевания желудка (гастрит) и кишечника могут стать фоном для развития опухолевого процесса (рак желудка и кишечника).</p>
            <p>Врачи-гастроэнтерологи рекомендуют проходить профилактический осмотр не реже одного раза в полгода, а при появлении перечисленных ниже симптомов не откладывать визит к врачу: боли в животе, изжога, налет на языке, неприятный запах изо рта, понос (диарея), запор, повышенное газообразование, повышенное слюноотделение, рвота, тошнота.</p>
            <div class="one-doctor__buttons">
                <a class="make-appoint" href="#">Записаться</a>
            </div>
        </div>
    </div>
</div>

<div class="ask-answer__box">
    <div class="container">
        <h2>Вопрос ответ</h2>
        <div class="ask-answer__one">
            <div class="ask-answer__ask">
                <h3>Вопрос клиента клиники Евромед</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
            <div class="ask-answer__answer">
                <h3>Ответ: Смирнова Татьяна Александровна</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
        </div>
        <div class="ask-answer__one">
            <div class="ask-answer__ask">
                <h3>Вопрос клиента клиники Евромед</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
            <div class="ask-answer__answer">
                <h3>Ответ: Смирнова Татьяна Александровна</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
        </div>
        <div class="ask-answer__one">
            <div class="ask-answer__ask">
                <h3>Вопрос клиента клиники Евромед</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
            <div class="ask-answer__answer">
                <h3>Ответ: Смирнова Татьяна Александровна</h3>
                <span>7.11.2016</span>
                <p>Лорем ипсум долор сит амет, еа цоммуне десерунт праесент сеа, еум те атяуи фабеллас ехплицари, вим те нонумы инермис цонцептам. Аудире еффициенди дефинитионес нец еи, про епицури елигенди либерависсе ут. Но мел дицит еурипидис цонсеяуат. Аутем долоре усу еу, хис граецо ерудити еу. Сеа яуас тамяуам сцрипторем ет.</p>
            </div>
        </div>
        <div class="one-doctor__buttons det-info">
            <a class="all-questions-answers" href="#">Все вопросы и ответы</a>
        </div>
    </div>
</div>
