/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-air {
  background-image: url(icons.png);
  background-position: -150px -217px;
  width: 35px;
  height: 35px;
}
.icon-arrl {
  background-image: url(icons.png);
  background-position: -17px -314px;
  width: 17px;
  height: 37px;
}
.icon-arrow-right {
  background-image: url(icons.png);
  background-position: -390px -217px;
  width: 30px;
  height: 16px;
}
.icon-arrr {
  background-image: url(icons.png);
  background-position: 0px -314px;
  width: 17px;
  height: 37px;
}
.icon-avatar-empty {
  background-image: url(icons.png);
  background-position: -100px -152px;
  width: 50px;
  height: 43px;
}
.icon-bag {
  background-image: url(icons.png);
  background-position: -110px -314px;
  width: 20px;
  height: 21px;
}
.icon-bank-transfer {
  background-image: url(icons.png);
  background-position: -371px -58px;
  width: 179px;
  height: 21px;
}
.icon-big-logo {
  background-image: url(icons.png);
  background-position: -150px -152px;
  width: 62px;
  height: 33px;
}
.icon-bitcoin-blue {
  background-image: url(icons.png);
  background-position: -423px -152px;
  width: 73px;
  height: 19px;
}
.icon-bitcoin-logo {
  background-image: url(icons.png);
  background-position: 0px -373px;
  width: 17px;
  height: 22px;
}
.icon-bitcoin {
  background-image: url(icons.png);
  background-position: -550px -58px;
  width: 67px;
  height: 18px;
}
.icon-bulb {
  background-image: url(icons.png);
  background-position: -607px -79px;
  width: 13px;
  height: 18px;
}
.icon-calendar {
  background-image: url(icons.png);
  background-position: -208px -196px;
  width: 11px;
  height: 11px;
}
.icon-cart {
  background-image: url(icons.png);
  background-position: -252px -262px;
  width: 19px;
  height: 17px;
}
.icon-chat-dark {
  background-image: url(icons.png);
  background-position: -172px -314px;
  width: 18px;
  height: 18px;
}
.icon-chat {
  background-image: url(icons.png);
  background-position: -439px -217px;
  width: 17px;
  height: 16px;
}
.icon-check-email {
  background-image: url(icons.png);
  background-position: -287px -217px;
  width: 31px;
  height: 28px;
}
.icon-close {
  background-image: url(icons.png);
  background-position: -89px -314px;
  width: 21px;
  height: 21px;
}
.icon-comment {
  background-image: url(icons.png);
  background-position: -420px -217px;
  width: 19px;
  height: 16px;
}
.icon-crystal {
  background-image: url(icons.png);
  background-position: -220px -217px;
  width: 35px;
  height: 32px;
}
.icon-decrease {
  background-image: url(icons.png);
  background-position: -550px -76px;
  width: 7px;
  height: 1px;
}
.icon-dollarsign {
  background-image: url(icons.png);
  background-position: -614px -99px;
  width: 7px;
  height: 13px;
}
.icon-email {
  background-image: url(icons.png);
  background-position: -153px -262px;
  width: 27px;
  height: 21px;
}
.icon-exlamation {
  background-image: url(icons.png);
  background-position: -152px 0px;
  width: 149px;
  height: 130px;
}
.icon-eye {
  background-image: url(icons.png);
  background-position: -155px -196px;
  width: 21px;
  height: 13px;
}
.icon-faq {
  background-image: url(icons.png);
  background-position: -456px -217px;
  width: 17px;
  height: 16px;
}
.icon-fax-dark {
  background-image: url(icons.png);
  background-position: -40px -351px;
  width: 19px;
  height: 19px;
}
.icon-filtering {
  background-image: url(icons.png);
  background-position: 0px -351px;
  width: 20px;
  height: 22px;
}
.icon-geotrust {
  background-image: url(icons.png);
  background-position: -371px -99px;
  width: 99px;
  height: 21px;
}
.icon-icon-up {
  background-image: url(icons.png);
  background-position: -76px -262px;
  width: 26px;
  height: 27px;
}
.icon-increase {
  background-image: url(icons.png);
  background-position: -398px -120px;
  width: 7px;
  height: 7px;
}
.icon-jabber-dark {
  background-image: url(icons.png);
  background-position: -51px -373px;
  width: 15px;
  height: 20px;
}
.icon-label-bank-active {
  background-image: url(icons.png);
  background-position: -352px -152px;
  width: 71px;
  height: 25px;
}
.icon-label-bank {
  background-image: url(icons.png);
  background-position: -281px -152px;
  width: 71px;
  height: 25px;
}
.icon-label-bitcoin-active {
  background-image: url(icons.png);
  background-position: -105px -196px;
  width: 50px;
  height: 13px;
}
.icon-label-bitcoin {
  background-image: url(icons.png);
  background-position: -566px -152px;
  width: 50px;
  height: 13px;
}
.icon-label-card {
  background-image: url(icons.png);
  background-position: -596px -128px;
  width: 23px;
  height: 16px;
}
.icon-label-checkbox {
  background-image: url(icons.png);
  background-position: -371px -120px;
  width: 9px;
  height: 8px;
}
.icon-label-cvv {
  background-image: url(icons.png);
  background-position: -473px -217px;
  width: 14px;
  height: 14px;
}
.icon-label-moneygram-active {
  background-image: url(icons.png);
  background-position: -403px -128px;
  width: 102px;
  height: 16px;
}
.icon-label-moneygram {
  background-image: url(icons.png);
  background-position: -301px -128px;
  width: 102px;
  height: 16px;
}
.icon-label-paypal-active {
  background-image: url(icons.png);
  background-position: -47px -196px;
  width: 58px;
  height: 16px;
}
.icon-label-paypal {
  background-image: url(icons.png);
  background-position: -556px -99px;
  width: 58px;
  height: 16px;
}
.icon-label-wu-active {
  background-image: url(icons.png);
  background-position: -232px -130px;
  width: 69px;
  height: 16px;
}
.icon-label-wu {
  background-image: url(icons.png);
  background-position: -496px -152px;
  width: 70px;
  height: 16px;
}
.icon-logged-in {
  background-image: url(icons.png);
  background-position: 0px 0px;
  width: 152px;
  height: 152px;
}
.icon-logo-huge {
  background-image: url(icons.png);
  background-position: -301px 0px;
  width: 321px;
  height: 58px;
}
.icon-logo {
  background-image: url(icons.png);
  background-position: -45px -217px;
  width: 35px;
  height: 35px;
}
.icon-lookchem {
  background-image: url(icons.png);
  background-position: -505px -128px;
  width: 91px;
  height: 16px;
}
.icon-mail-dark {
  background-image: url(icons.png);
  background-position: -20px -351px;
  width: 20px;
  height: 20px;
}
.icon-mail {
  background-image: url(icons.png);
  background-position: -130px -314px;
  width: 23px;
  height: 18px;
}
.icon-map-expand {
  background-image: url(icons.png);
  background-position: -59px -351px;
  width: 19px;
  height: 19px;
}
.icon-moneygram-blue {
  background-image: url(icons.png);
  background-position: -371px -79px;
  width: 125px;
  height: 20px;
}
.icon-moneygram {
  background-image: url(icons.png);
  background-position: -496px -79px;
  width: 111px;
  height: 18px;
}
.icon-mouse {
  background-image: url(icons.png);
  background-position: 0px -262px;
  width: 26px;
  height: 52px;
}
.icon-next {
  background-image: url(icons.png);
  background-position: -51px -314px;
  width: 17px;
  height: 28px;
}
.icon-ok {
  background-image: url(icons.png);
  background-position: -389px -120px;
  width: 9px;
  height: 7px;
}
.icon-order-accepted {
  background-image: url(icons.png);
  background-position: 0px -217px;
  width: 45px;
  height: 45px;
}
.icon-paper-plane-blue {
  background-image: url(icons.png);
  background-position: -229px -262px;
  width: 23px;
  height: 17px;
}
.icon-paper-plane {
  background-image: url(icons.png);
  background-position: -206px -262px;
  width: 23px;
  height: 17px;
}
.icon-pdf-huge {
  background-image: url(icons.png);
  background-position: 0px -152px;
  width: 47px;
  height: 65px;
}
.icon-pdf {
  background-image: url(icons.png);
  background-position: -26px -262px;
  width: 26px;
  height: 36px;
}
.icon-phone-dark {
  background-image: url(icons.png);
  background-position: -102px -262px;
  width: 26px;
  height: 26px;
}
.icon-phone {
  background-image: url(icons.png);
  background-position: -190px -314px;
  width: 18px;
  height: 18px;
}
.icon-pin-thin {
  background-image: url(icons.png);
  background-position: -287px -262px;
  width: 11px;
  height: 17px;
}
.icon-pin {
  background-image: url(icons.png);
  background-position: -52px -262px;
  width: 24px;
  height: 32px;
}
.icon-pingiun {
  background-image: url(icons.png);
  background-position: -153px -314px;
  width: 19px;
  height: 18px;
}
.icon-placemark {
  background-image: url(icons.png);
  background-position: -298px -262px;
  width: 12px;
  height: 15px;
}
.icon-play {
  background-image: url(icons.png);
  background-position: -301px -58px;
  width: 70px;
  height: 70px;
}
.icon-powder {
  background-image: url(icons.png);
  background-position: -318px -217px;
  width: 32px;
  height: 24px;
}
.icon-prescription-mobile {
  background-image: url(icons.png);
  background-position: 0px -395px;
  width: 15px;
  height: 22px;
}
.icon-prev {
  background-image: url(icons.png);
  background-position: -34px -314px;
  width: 17px;
  height: 28px;
}
.icon-qq-dark {
  background-image: url(icons.png);
  background-position: -17px -373px;
  width: 18px;
  height: 20px;
}
.icon-rails {
  background-image: url(icons.png);
  background-position: -115px -217px;
  width: 35px;
  height: 35px;
}
.icon-sea {
  background-image: url(icons.png);
  background-position: -80px -217px;
  width: 35px;
  height: 35px;
}
.icon-search {
  background-image: url(icons.png);
  background-position: -68px -314px;
  width: 21px;
  height: 21px;
}
.icon-shipping {
  background-image: url(icons.png);
  background-position: -271px -262px;
  width: 16px;
  height: 17px;
}
.icon-skype-dark {
  background-image: url(icons.png);
  background-position: -255px -217px;
  width: 32px;
  height: 32px;
}
.icon-skype {
  background-image: url(icons.png);
  background-position: -78px -351px;
  width: 19px;
  height: 19px;
}
.icon-toggle-map {
  background-image: url(icons.png);
  background-position: -380px -120px;
  width: 9px;
  height: 8px;
}
.icon-tor {
  background-image: url(icons.png);
  background-position: -35px -373px;
  width: 16px;
  height: 20px;
}
.icon-truck-small-success {
  background-image: url(icons.png);
  background-position: -176px -196px;
  width: 16px;
  height: 12px;
}
.icon-truck-small {
  background-image: url(icons.png);
  background-position: -192px -196px;
  width: 16px;
  height: 12px;
}
.icon-truck {
  background-image: url(icons.png);
  background-position: -47px -152px;
  width: 53px;
  height: 44px;
}
.icon-upload-small {
  background-image: url(icons.png);
  background-position: -487px -217px;
  width: 14px;
  height: 14px;
}
.icon-upload {
  background-image: url(icons.png);
  background-position: -97px -351px;
  width: 15px;
  height: 19px;
}
.icon-upload2 {
  background-image: url(icons.png);
  background-position: -185px -217px;
  width: 35px;
  height: 33px;
}
.icon-verisign {
  background-image: url(icons.png);
  background-position: -212px -152px;
  width: 69px;
  height: 28px;
}
.icon-western-union {
  background-image: url(icons.png);
  background-position: -470px -99px;
  width: 86px;
  height: 19px;
}
.icon-western {
  background-image: url(icons.png);
  background-position: -152px -130px;
  width: 80px;
  height: 18px;
}
.icon-wickr-dark {
  background-image: url(icons.png);
  background-position: -128px -262px;
  width: 25px;
  height: 25px;
}
.icon-wickr {
  background-image: url(icons.png);
  background-position: -180px -262px;
  width: 26px;
  height: 17px;
}
.icon-wire {
  background-image: url(icons.png);
  background-position: -350px -217px;
  width: 40px;
  height: 18px;
}
