<div class="title-services-specialists">
    <img src="%=static=%img/general/services-specialists.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Услуги</a></li>
            <li>/</li>
            <li class="general"><a href="#">Услуги специалистов</a></li>
        </ul>
        <h2>услуги специалистов</h2>
    </div>
</div>

<div class="container clearfix without-padding bred not-index">
    <div class="advantages__left">
        <strong>В Клинике «ЕВРОМЕД» особое внимание уделяется подбору врачей. Большинство наших специалистов являются кандидатами медицинских наук, врачами высшей категории, сотрудниками кафедр последипломного усовершенствования врачей с огромным опытом работы и добрым сердцем.</strong>
        <p>Многие врачи проходили курсы повышения квалификации и стажировку в крупнейших клиниках США, Германии, Израиля и других зарубежных странах. Внимательные и вежливые, они индивидуально подойдут к Вашему обследованию и решению возникших проблем.</p>
        <p>В клинике «ЕВРОМЕД» решаются вопросы женского, мужского и детского здоровья, поэтому к нам Вы можете обратиться всей семьёй в удобное для Вас время – мы работаем без выходных. При диагностике и лечении пациента используется комплексный подход: специалисты различных направлений взаимодействуют друг с другом тесным образом.</p>
    </div>
    <div class="turn__box">
        <a href="#" class="turn__item_ld">Свернуть</a>
    </div>
    <div class="advantages__right comp">
        <div class="advantages__item white">
            <h3>наши преимущества</h3>
        </div>
        <div class="advantages__item green med-centers">
            <h3>ЛЕЧЕНИЕ НА БАЗЕ ДВУХ МЕДИЦИНСКИХ ЦЕНТРОВ</h3>
        </div>
        <div class="advantages__item green spec">
            <h3>ВЫСОКАЯ КВАЛИФИКАЦИЯ СПЕЦИАЛИСТОВ</h3>
        </div>
        <div class="advantages__item green complex-programs-big">
            <h3>КОМПЛЕКСНЫЙ ПОДХОД К ЛЕЧЕНИЮ</h3>
        </div>
        <div class="advantages__item green family">
            <h3>ЛЕЧЕНИЕ ДЛЯ ВСЕЙ СЕМЬИ</h3>
        </div>
        <div class="advantages__item green doctor-middle">
            <h3>ВРАЧИ РАЗЛИЧНЫХ ПРОФИЛЕЙ</h3>
        </div>
    </div>
</div>

<div class="choose-direction service srv-spec">
    <div class="container">
        <h3>выберите необходимое вам направление</h3>
        <div class="directions__box">
            <div class="womens">
                <a href="#">
                    <h4>Женское:</h4>
                </a>
                <ul>
                    <li><a href="#">Гинекология</a></li>
                    <li><a href="#">Урология</a></li>
                    <li><a href="#">Маммология</a></li>
                    <li><a href="#">Эндокринология</a></li>
                    <li><a href="#">Отоларингология</a></li>
                    <li><a href="#">Гематология</a></li>
                    <li><a href="#">Онкология</a></li>
                    <li><a href="#">Дерматология</a></li>
                    <li><a href="#">Аллергология</a></li>
                    <li><a href="#">Иммунология</a></li>
                    <li><a href="#">Терапия</a></li>
                    <li><a href="#">Гастроэнтерология</a></li>
                    <li><a href="#">Неврология</a></li>
                    <li><a href="#">Кардиология</a></li>
                    <li><a href="#">Инфекционные заболевания</a></li>
                    <li><a href="#">Психотерапия</a></li>
                    <li><a href="#">Офтальмология</a></li>
                </ul>
            </div>
            <div class="mens">
                <a href="#">
                    <h4>Мужское:</h4>
                </a>
                <ul>
                    <li><a href="#">Андрология</a></li>
                    <li><a href="#">Урология</a></li>
                    <li><a href="#">Эндокринология</a></li>
                    <li><a href="#">Отоларингология</a></li>
                    <li><a href="#">Гематология</a></li>
                    <li><a href="#">Онкология</a></li>
                    <li><a href="#">Дерматология</a></li>
                    <li><a href="#">Аллергология</a></li>
                    <li><a href="#">Иммунология</a></li>
                    <li><a href="#">Терапия</a></li>
                    <li><a href="#">Гастроэнтерология</a></li>
                    <li><a href="#">Неврология</a></li>
                    <li><a href="#">Кардиология</a></li>
                    <li><a href="#">Инфекционные заболевания</a></li>
                    <li><a href="#">Психотерапия</a></li>
                    <li><a href="#">Офтальмология</a></li>
                </ul>
            </div>
            <div class="childrens">
                <a href="#">
                    <h4>Детское:</h4>
                </a>
                <ul>
                    <li><a href="#">Неонатология</a></li>
                    <li><a href="#">Педиатрия</a></li>
                    <li><a href="#">Неврология</a></li>
                    <li><a href="#">Ортопедия</a></li>
                    <li><a href="#">Хирургия</a></li>
                    <li><a href="#">Гинекология</a></li>
                    <li><a href="#">Урология</a></li>
                    <li><a href="#">Эндокринология</a></li>
                    <li><a href="#">Отоларингология</a></li>
                    <li><a href="#">Дерматология</a></li>
                    <li><a href="#">Аллергология</a></li>
                    <li><a href="#">Иммунология</a></li>
                    <li><a href="#">Гастроэнтерология</a></li>
                    <li><a href="#">Кардиология</a></li>
                    <li><a href="#">Ревматология</a></li>
                    <li><a href="#">Инфекционные заболевания</a></li>
                    <li><a href="#">Психотерапия</a></li>
                    <li><a href="#">Офтальмология</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="about-services-specialists ss">
    <div class="container">
        <h3>об услугах специалистов</h3>
        <div class="about-services-specialists__text-box">
            <p>В Клинике «ЕВРОМЕД» особое внимание уделяется подбору врачей. Большинство наших специалистов являются кандидатами медицинских наук, врачами высшей категории, сотрудниками кафедр последипломного усовершенствования врачей с огромным опытом работы и добрым сердцем. Многие врачи проходили курсы повышения квалификации и стажировку в крупнейших клиниках США, Германии, Израиля и других зарубежных странах. Внимательные и вежливые, они индивидуально подойдут к Вашему обследованию и решению возникших проблем.</p>
            <p>В клинике «ЕВРОМЕД» решаются вопросы женского, мужского и детского здоровья, поэтому к нам Вы можете обратиться всей семьёй в удобное для Вас время – мы работаем без выходных. При диагностике и лечении пациента используется комплексный подход: специалисты различных направлений взаимодействуют друг с другом тесным образом, индивидуально рассматривая каждый случай. В надежных руках наших врачей Вы можете не сомневаться в благополучном исходе любого сложного вопроса, ведь вопросы со здоровьем являются наиболее важными в жизни каждого человека.</p>
            <p>Цель клиники «ЕВРОМЕД» и наших врачей — провести качественное обследование пациента, дать достоверную картину состояния здоровья, назначить эффективное лечение, если оно необходимо. Врачи Клиники «ЕВРОМЕД» полностью разделяют наш лозунг и реализуют его на практике: «То, что другие </p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
