<div class="complex-program-popup">
    <h2>запись на комплексную программу</h2>
    <span>* Обязательно для заполнения</span>
    <p>Оставьте свои контактные данные и мы свяжемся с Вами в ближайшее время</p>


    <form action="#" class="feedback__form clearfix">
        <div class="input__cover">
            <input type="text" placeholder="ФИО">
        </div>
        <div class="input__cover">
            <input type="text" placeholder="ТЕЛЕФОН">
        </div>
        <div class="capcha__box clearfix">
            <div class="capcha">
                <img src="%=static=%img/content/capcha-temp.jpg" alt="">
            </div>
            <div class="enter-capcha clearfix">
                <label for="enter-capcha__input">введите код<br> указанный на картинке</label>
                <div class="input__cover">
                    <input type="text" id="enter-capcha__input">
                </div>
            </div>
        </div>
        <div class="cover__submit">
            <input type="submit" value="отправить">
            <span>не верно введены данные “Контактный телефон”</span>
        </div>
    </form>
</div>
