<div class="news-general__title container">
    <!--BREADCRUMBS-->
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Главная</a></li>
        <li>/</li>
        <li class="general"><a href="#">Новости</a></li>
    </ul>
    <h2 class="small-h2">Новости</h2>
</div>

<div class="news-general__box container">
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>27.10.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Поздравляем всех с Днем народного единства и сообщаем график работы.</h3>
            </a>
            <p>Уважаемые клиенты, поздравляем Вас с наступающим праздником народного единства!</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news1.jpg" alt="">
        </div>
    </div>
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>14.10.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Сообщаем о смене графика работы клиники с 17 октября 2016 года.</h3>
            </a>
            <p>Уважаемые клиенты! Обращаем Ваше внимание, что с 17 октября клиника работает по следующему графику:</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news2.jpg" alt="">
        </div>
    </div>
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>07.10.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Дорогие наши клиенты! Мы очень рады Вас слышать!!!</h3>
            </a>
            <p>Мы очень рады слышать Ваши голоса, поэтому не хотим пропустить ни одного звонка. С удовольствием ответим на любой вопрос и подскажем пути решения Вашей проблемы, произведем запись на прием к специалисту  ...</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news3.jpg" alt="">
        </div>
    </div>
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>19.08.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Дорогие мамы! Помните - посещение детского гинеколога обязательно для Вашего ребенка</h3>
            </a>
            <p>Детский гинеколог наблюдает за развитием девочки с 0 до 18 лет. Существуют определенные периоды, в которые осмотр ребенка обязателен:</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news4.jpg" alt="">
        </div>
    </div>
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>05.08.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Дорогие пациенты, сейчас самое время проверить "женское" и "мужское" здоровье!</h3>
            </a>
            <p>В период с 15 августа по 15 сентября при покупке комплекса на инфекции, передающиеся половым путём (ИППП), предоставляется скидка 15% на консультации уролога и дерматолога.</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news5.jpg" alt="">
        </div>
    </div>
    <div class="news-general__box__item">
        <div class="news-general__box__item__date">
            <span>29.07.2016</span>
        </div>
        <div class="news-general__box__item__info">
            <a href="#">
                <h3>Лечение эндокринологических заболеваний у детей - одно из наших новых направлений.</h3>
            </a>
            <p>Детский эндокринолог — это детский врач, специализирующийся на всех проблемах, которые возникают у детей с эндокринной системой. Сфера деятельности детского эндокринолога — это щитовидная ...</p>
        </div>
        <div class="news-general__box__item__image">
            <img src="%=static=%img/content/news/general-news6.jpg" alt="">
        </div>
    </div>
    <div class="earlier">
        <a href="#">Ранее</a>
    </div>
</div>
