<div class="container news">
    <h2>новости</h2>
    <div class="news__cover ind">
        <div class="news__one">
            <div class="news__image">
                <img src="%=static=%img/content/news/news1.jpg" alt="">
            </div>
            <div class="news__info">
                <span>19.08.2016</span>
                <strong>В клинике "ЕВРОМЕД" производится забор крови из пальца у детей.</strong>
                <p>Многие детишки боятся сдавать кровь, очень переживают и плачут, когда видят медицинскую сестру в белом халате. Мы понимаем, какой это стресс для родителей и малыша, поэтому в случае, если есть необходимость сдать</p>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="news__one">
            <div class="news__image">
                <img src="%=static=%img/content/news/news2.jpg" alt="">
            </div>
            <div class="news__info">
                <span>27.08.2016</span>
                <strong>Дорогие мамы! Помните - посещение детского гинеколога обязательно для Вашего ребенка</strong>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="news__one">
            <div class="news__image">
                <img src="%=static=%img/content/news/news3.jpg" alt="">
            </div>
            <div class="news__info">
                <span>21.08.2016</span>
                <strong>В Клинике "ЕВРОМЕД" на ул.Ким, 143 начал прием детский и взрослый врач-офтальмолог.</strong>
                <a href="#">подробнее</a>
            </div>
        </div>
    </div>
</div>
