<div class="title-services-specialists vcnc">
    <img src="%=static=%img/general/vacancies.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li class="general"><a href="#">Вакансии</a></li>
        </ul>
        <h2>Вакансии</h2>
    </div>
</div>

<div class="vacancies__box container">
    <div class="vacancies__item">
        <h3>Врач-проктолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-ревматолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-онколог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-ревматолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-проктолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-онколог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-проктолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-ревматолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-онколог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-проктолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-ревматолог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
    <div class="vacancies__item">
        <h3>Врач-онколог</h3>
        <p><strong>График работы:</strong> согласно составленному графику.</p>
        <p><strong>Опыт работы:</strong> обязателен.</p>
        <p><strong>Заработная плата</strong> — по результатам собеседования.</p>
        <p><strong>Контактный телефон:</strong> +7(961) 521-56-77, Людмила Владимировна.</p>
        <p><strong>Эл. адрес:</strong> <a href="info@klinika-evromed.ru">info@klinika-evromed.ru</a>.</p>
    </div>
</div>
<div class="container">
    <a href="#" class="more-doctors__button">Показать еще</a>
</div>
