<div class="control">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li class="general"><a href="#">Контролирующие организации</a></li>
        </ul>
        <h2>Контролирующие организации</h2>
        <ul class="control-organisations">
            <li>Министерство здравоохранения Краснодарского края (г.Краснодар, ул.Коммунаров, д.276, тел.: 8-800-200-03-66)</li>
            <li>Управление Федеральной службы по надзору в сфере здравоохранения и социального развития по Краснодарскому краю (г. Краснодар, ул. Васнецова, 39, тел. 219-97-35).</li>
            <li>Госинспекция по торговле, качеству товаров и защите прав потребителей (г. Краснодар, ул. Советская, 35/1, тел. 262-29-07).</li>
            <li>Департамент потребительского рынка и услуг администрации г. Краснодара (г. Краснодар, ул. Красноармейская, 122, к.25, тел. 259-31-62, 255-60-77).</li>
            <li>Отдел по защите прав потребителей департамента по соц.защите населения (г. Краснодар, ул. Зиповская, 1, тел. 252-38-65, 252-37-81).</li>
            <li>ТУФС Роспотребназор по Краснодарскому краю (г. Краснодар, ул. Рашпилевская, 100, тел. 259-36-57).</li>
            <li>ИФНС России по г.Краснодару (тел.: 8-800-222-22-22).</li>
        </ul>
    </div>
</div>
