.control {
    h2 {
        font-size: 40px;
        margin: 8px 0 36px;
    }
    &-organisations {
        margin-bottom: 79px;
        li {
            position: relative;
            color: black;
            font-size: 14px;
            padding-left: 5px;
            margin: 0 0 28px 11px;
            &:before {
                @extend .pseudo;
                left: -10px;
                top: 5px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #70a064;
            }
        }
    }
}
