<div class="title-services-specialists">
    <img src="%=static=%img/general/gastroenterology.jpg" alt="">
    <div class="container gent">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Услуги</a></li>
            <li>/</li>
            <li class="general"><a href="#">Услуги специалистов</a></li>
        </ul>
        <h2>Гастроэнтерология</h2>
    </div>
</div>

<div class="gastro-simptoms">
    <div class="container clearfix">
        <div class="gastro-simptoms__left">
            <p>Вы можете обратиться к одному из гастроинтерологов клиники "Евромед",если Вас беспокоит :</p>
            <ul>
                <li>- изжога, отрыжка, першение в горле</li>
                <li>- затруднение проглатывания пищи</li>
                <li>- тошнота, рвота</li>
                <li>- неприятный привкус во рту</li>
                <li>- боли или дискомфорт в животе</li>
                <li>- метеоризм (вздутие живота)</li>
                <li>- повышенное газообразование</li>
                <li>- тяжесть или переполненность в животе</li>
                <li>- диарея (жидкий стул)</li>
            </ul>
        </div>
        <div class="gastro-simptoms__right">
            <p>Гастроэнтерологи клиники «Евромед» проконсультируют Вас по вопросам диагностики, лечения профилактики рецидивов и осложнений таких заболеваний, как:</p>
            <ul>
                <li>- Гастро-эзофагиальная рефлюксная болезнь</li>
                <li>- Неязвенная функциональная диспепсия</li>
                <li>- Хронический гастрит, дуоденит</li>
                <li>- Язвенная болезнь желудка и двенадцатиперстной кишки</li>
                <li>- Хронический холецистит</li>
                <li>- Хронический панкреатит</li>
                <li>- Токсическое поражение печени</li>
                <li>- Печеночная недостаточность</li>
                <li>- Хронический гепатит</li>
                <li>- Неалкогольный стеатогепатит</li>
                <li>- Цирроз печени</li>
                <li>- Желчнокаменная болезнь (холелитиаз)</li>
                <li>- Синдром раздражённого кишечника</li>
                <li>- Функциональный запор</li>
                <li>- Гельминтозы</li>
            </ul>
        </div>
    </div>
</div>
<div class="turn__box">
    <a href="#" class="turn__item">Свернуть</a>
</div>
<div class="doctors">
    <div class="doctors__box container">
        <div class="one-doctor">
            <div class="one-doctor__info">
                <strong>Ковалева</strong>
                <strong>Светлана</strong>
                <strong>Валентиновна</strong>
                <span>Врач детский гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="sign-up-doctor-button" href="#">Записаться</a>
                    <a href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="%=static=%img/content/doctors/kovaleva.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor">
            <div class="one-doctor__info">
                <strong>Смирнова</strong>
                <strong>Татьяна</strong>
                <strong>Александровна</strong>
                <span>Врач-гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="sign-up-doctor-button" href="#">Записаться</a>
                    <a href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="%=static=%img/content/doctors/smirnova.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor">
            <div class="one-doctor__info">
                <strong>Ковалева</strong>
                <strong>Светлана</strong>
                <strong>Валентиновна</strong>
                <span>Врач детский гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="sign-up-doctor-button" href="#">Записаться</a>
                    <a href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="%=static=%img/content/doctors/kovaleva.jpg" alt="">
            </a>
        </div>
        <div class="one-doctor">
            <div class="one-doctor__info">
                <strong>Смирнова</strong>
                <strong>Татьяна</strong>
                <strong>Александровна</strong>
                <span>Врач-гастроэнтеролог,</span>
                <span>кандидат медицинских наук</span>
                <div class="one-doctor__buttons">
                    <a class="sign-up-doctor-button" href="#">Записаться</a>
                    <a href="#">О враче</a>
                </div>
            </div>
            <a href="#" class="one-doctor__image">
                <img src="%=static=%img/content/doctors/smirnova.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="container">
        <a href="#" class="more-doctors__button">Больше врачей</a>
    </div>
</div>

<div class="choose-direction gastro">
    <div class="container">
        <h3>выберите необходимые вам услуги</h3>
        <div class="gastro__block">
            <table class="gastro__table desktop">
                <tr>
                    <td>Первичная консультация врача-гастроэнтеролога</td>
                    <td>1100 руб</td>
                    <td><a class="enroll-gastro" href="#">Записаться на прием</a></td>
                </tr>
                <tr>
                    <td>Повторная консультация врача-гастроэнтеролога</td>
                    <td>1100 руб</td>
                    <td><a class="enroll-gastro" href="#">Записаться на прием</a></td>
                </tr>
            </table>

            <table class="gastro__table mobile-table">
                <tr class="border-none">
                    <td colspan="2">Первичная консультация врача-гастроэнтеролога</td>
                </tr>
                <tr>
                    <td>1100 руб</td>
                    <td><a class="enroll-gastro" href="#">Записаться на прием</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="2">Повторная консультация врача-гастроэнтеролога</td>
                </tr>
                <tr>
                    <td>1100 руб</td>
                    <td><a class="enroll-gastro" href="#">Записаться на прием</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="about-services-specialists complex gent">
    <div class="container">
        <h3>подробнее о Гастроэнтерологии</h3>
        <div class="about-services-specialists__text-box">
            <p>Гастроэнтерология — раздел медицины, занимающийся диагностикой и лечением заболеваний желудочно-кишечного тракта: пищевода, желудка, двенадцатиперстной кишки, кишечника, печени, желчного пузыря, поджелудочной железы.</p>
            <p>Гастроэнтеролог – врач, который специализируется на диагностике, профилактике и лечении различных заболеваний органов пищеварения.</p>
            <p>Мы проводим лечение современными препаратами, которые имеют высокую эффективность, подтвержденную международными клиническими исследованиями.</p>
            <p>По данным регистрации заболеваемости в России у каждого десятого взрослого жителя выявляется патология органов пищеварения. Среди болезней пищевода чаще других диагностируется ГЭРБ (гастро-эзофагиальнаярефлюксная болезнь). Судя по частоте выявления хронического гастрита в амбулаторно-поликлинических условиях это заболевание имеет не менее половины взрослого населения России.</p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
