<div class="cover-main">
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__top__left">
                    <div class="footer__top__left__info">
                        <div class="laptop__left">
                            <div class="footer__top__left__info__one adress-footer">
                                <strong>Адреса:</strong>
                                <span>ул. Ким 143</span>
                                <span>ул. Лузана 19 </span>
                            </div>
                            <div class="footer__top__left__info__one phone-footer">
                                <strong>Телефон:</strong>
                                <span>+7 (861) 888 88 88</span>
                            </div>
                        </div>
                        <div class="laptop__right">
                            <div class="footer__top__left__info__one shedule-footer">
                                <strong>Режим работы:</strong>
                                <div class="shedule__info">
                                    <span>Пн-Сб:</span>
                                    <i>8:00 - 20:00</i>
                                </div>
                                <div class="shedule__info">
                                    <span>Вс:</span>
                                    <i>9:00 - 15:00</i>
                                </div>
                            </div>
                            <ul class="social">
                                <li class="vk"><a href="#"></a></li>
                                <li class="facebook"><a href="#"></a></li>
                                <li class="instagram"><a href="#"></a></li>
                            </ul>
                            <ul class="pay-cards">
                                <li class="visa"></li>
                                <li class="mastercard"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__top__right">
                    <div class="footer__top__right__info">
                        <div class="about-company">
                            <h4>О КОМПАНИИ</h4>
                            <ul class="footer-list">
                                <li><a href="#">О клинике</a></li>
                                <li><a href="#">Врачи</a></li>
                                <li><a href="#">Вакансии</a></li>
                                <li><a href="#">Акции</a></li>
                                <li><a href="#">Новости</a></li>
                            </ul>
                        </div>
                        <div class="services-footer">
                            <h4>услуги</h4>
                            <ul class="footer-list">
                                <li><a href="#">Услуги специалистов</a></li>
                                <li><a href="#">Диагностические исследования</a></li>
                                <li><a href="#">Лабораторная диагностика</a></li>
                                <li><a href="#">Комплексные программы</a></li>
                            </ul>
                        </div>
                        <div class="additionally">
                            <h4>ДОПОЛНИТЕЛЬНО</h4>
                            <ul class="footer-list">
                                <li><a href="#">Вопросы и ответы</a></li>
                                <li><a target="_blank" href="#">Лицензии</a></li>
                                <li><a href="#">Стоимость услуг</a></li>
                                <li><a href="#">Документы при оформлении</a></li>
                                <li><a href="#">Контролирующие организации</a></li>
                            </ul>
                        </div>
                        <div class="right-footer__box">
                            <a href="#" class="analyzes-button result-analyzes">
                                <span>Результаты анализов</span>
                            </a>
                            <a href="" class="analyzes-button home-analyzes">
                                <span>Анализы на дому</span>
                            </a>
                            <div class="subscribe">
                                <label for="send-email">Подпишитесь на акции и новости</label>
                                <div class="subscribe__cover">
                                    <input type="email" id="send-email" placeholder="Электронная почта">
                                    <div class="subm__cover">
                                        <input type="submit" value="">
                                    </div>
                                </div>
                                <span class="error-email">Вы ввели некорректный e-mail</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="clearfix">
                    <div class="our-partners">
                        <span>Наши партнеры:</span>
                    </div>
                    <ul class="partners">
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/sogaz.png" alt="">
                            <img src="%=static=%img/content/partners/sogaz-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/allianz.png" alt="">
                            <img src="%=static=%img/content/partners/allianz-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/bcm.png" alt="">
                            <img src="%=static=%img/content/partners/bcm-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/peco.png" alt="">
                            <img src="%=static=%img/content/partners/peco-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/bio-rad.png" alt="">
                            <img src="%=static=%img/content/partners/bio-rad-hover.png" alt="">
                        </a></li>
                    </ul>
                    <ul class="partners">
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/uralsib.png" alt="">
                            <img src="%=static=%img/content/partners/uralsib-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/anastasia.png" alt="">
                            <img src="%=static=%img/content/partners/anastasia-hover.png" alt="">
                        </a></li>
                        <li><a href="#">
                            <img src="%=static=%img/content/partners/kenguru.png" alt="">
                            <img src="%=static=%img/content/partners/kenguru-hover.png" alt="">
                        </a></li>
                    </ul>
                    <span class="copyright">(&copy;) 2004-2016 ООО "Евромед"  ООО "Современные диагностические технологии" ОГРН 736402-18736564</span>
                </div>
            </div>
        </div>
    </footer>
</div>


<!--POPUP NEWS SUBSCRIPTION-->
<div class="news-subscription__popup">
    <span>Вы подписались на новости и акции клиники евромед</span>
</div>
