<div class="home-tests">
    <h2>анализы на дому</h2>
    <span>* Обязательно для заполнения</span>
    <p>В ближайшее время с Вами свяжется специалист нашей клиники для уточнения анализов, даты и адреса забора анализов.</p>


    <form action="#" class="feedback__form clearfix">
        <div class="input__cover">
            <input type="text" placeholder="ФИО">
        </div>
        <div class="input__cover">
            <input type="text" placeholder="ТЕЛЕФОН">
        </div>
        <div class="input__cover">
            <input type="text" placeholder="ДАТА ЗАБОРА АНАЛИЗОВ">
        </div>
        <div class="input__cover">
            <input type="text" placeholder="АДРЕС ЗАБОРА АНАЛИЗОВ">
        </div>
        <div class="capcha__box clearfix">
            <div class="capcha">
                <img src="%=static=%img/content/capcha-temp.jpg" alt="">
            </div>
            <div class="enter-capcha clearfix">
                <label for="enter-capcha__input">введите код<br> указанный на картинке</label>
                <div class="input__cover">
                    <input type="text" id="enter-capcha__input">
                </div>
            </div>
        </div>
        <div class="cover__submit">
            <input type="submit" value="отправить">
            <span>не верно введены данные “Контактный телефон”</span>
        </div>
    </form>
</div>
