body {
    margin: 0;
    width: 100%;
    background: #000;
    overflow-x: hidden;
    color: #000;
    font: 12px/14px "times new roman", times, serif;
}
/* General reset */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
img {
    border-style: none;
    display: block;
}
input, select, textarea {
    vertical-align: middle;
    outline: none;
    font: 100% arial, helvetica, sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}
figure {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ovhReset:after {
    content: '';
    clear: both;
    display: block;
}

/* General settings */

.wrapper {
    width: 120px;
    margin: 50px auto;
    padding: 10px;
    background: #fff;
}
#roulette {
    width: 100px;
    height: 300px;
    margin: 0 auto;
}
#start {
    padding: 10px;
    text-align: center;
    display: block;
    background: yellowgreen;
    margin-top: 20px;
}
#start:hover {
    background: blue;
    color: white;
    font-weight: bold;
}
.arrCards {
    display: none;
}