<div class="news-general__title container stc">
    <!--BREADCRUMBS-->
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Главная</a></li>
        <li>/</li>
        <li class="general"><a href="#">Акции</a></li>
    </ul>
    <h2>Акции</h2>
</div>

<div class="stock__box container stc">
    <div class="stock__item">
        <span>Акция действует с 23.10.2016 по 31.10.2016  октября</span>
        <img src="%=static=%img/content/stock/stock1.jpg" alt="">
        <div class="info__box">
            <strong>Быть красивым и здоровым модно всегда!</strong>
            <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
        </div>
        <a href="#">Подробнее об акции</a>
    </div>
    <div class="stock__item">
        <span>Акция действует с 12.10.2016 по 23.10.2016  октября</span>
        <img src="%=static=%img/content/stock/stock2.jpg" alt="">
        <div class="info__box">
            <strong>Забор анализов теперь стал еще проще</strong>
            <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
        </div>
        <a href="#">Подробнее об акции</a>
    </div>
    <div class="stock__item">
        <span>Акция действует с 23.10.2016 по 31.10.2016  октября</span>
        <img src="%=static=%img/content/stock/stock1.jpg" alt="">
        <div class="info__box">
            <strong>Быть красивым и здоровым модно всегда!</strong>
            <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
        </div>
        <a href="#">Подробнее об акции</a>
    </div>
    <div class="stock__item">
        <span>Акция действует с 12.10.2016 по 23.10.2016  октября</span>
        <img src="%=static=%img/content/stock/stock2.jpg" alt="">
        <div class="info__box">
            <strong>Забор анализов теперь стал еще проще</strong>
            <p>В июле дарим скидку 15% на комплексы по исследованию женского и мужского организма. </p>
        </div>
        <a href="#">Подробнее об акции</a>
    </div>
    <div class="earlier">
        <a href="#">Показать все</a>
    </div>
</div>
