<div class="container news-title">
    <!--BREADCRUMBS-->
    <ul class="breadcrumbs clearfix">
        <li><a href="#">Главная</a></li>
        <li>/</li>
        <li><a href="#">Акции</a></li>
        <li>/</li>
        <li class="general"><a href="#">Быть красивым и здоровым модно всегда</a></li>
    </ul>
</div>

<div class="container without-padding std">
    <div class="slider-stock">
        <div class="slide__news">
            <h2>Быть красивым и здоровым модно всегда!</h2>
            <strong>Акция действует с 23.10.2016 по 31.10.2016  октября</strong>
            <div class="slide__box">
                <div class="slide__info">
                    <p>Уважаемые родители!<br>Многие детишки боятся сдавать кровь, очень переживают и плачут, когда видят медицинскую сестру в белом халате. Мы понимаем, какой это стресс для родителей и малыша, поэтому в случае, если есть необходимость сдать общий анализ крови ребенку, мы произведем забор крови из пальца быстро и безболезненно. Обращаем особое внимание, что в клинике производится забор крови из пальца как у детей до года, так и у детишек более старшего возраста. Добрые и внимательные медицинские сестры уделят максимум внимания Вашему чаду, чтобы визит в клинику у него ассоциировался только с позитивными эмоциями!</p>
                    <p>Ознакомьтесь с полным перечнем наших лабораторных исследований.</p>
                </div>
                <div class="slide__image">
                    <img src="%=static=%img/content/stock/stock-detail.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#" class="slick-prev">Предыдущая акция</a>
        <a href="#" class="slick-next">Следующая акция</a>
    </div>

    <div class="earlier">
        <a href="#">Показать все</a>
    </div>
</div>
