.metods-diagnostics:after {
    width: 58px;
    height: 54px;
    background-image: url(%=static=%content/icons-svg/1/medical-operation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.equipment:after {
    width: 62px;
    height: 47px;
    background-image: url(%=static=%content/icons-svg/1/medic.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.modern-information-system:after {
    width: 54px;
    height: 41px;
    background-image: url(%=static=%content/icons-svg/1/medical-computer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
