<div class="title-services-specialists">
    <img src="%=static=%img/general/diagnostic-tests.jpg" alt="">
    <div class="container">
        <!--BREADCRUMBS-->
        <ul class="breadcrumbs clearfix">
            <li><a href="#">Главная</a></li>
            <li>/</li>
            <li><a href="#">Услуги</a></li>
            <li>/</li>
            <li class="general"><a href="#">Диагностические исследования</a></li>
        </ul>
        <h2>Диагностические исследования</h2>
    </div>
</div>
<div class="container not-index without-padding com">
    <div class="advantages__left complex">
        <p class="bold">Клиника «ЕВРОМЕД» является многопрофильным медицинским учреждением со своей диагностической базой. На Ваш выбор предоставляется ЭКГ, суточное мониторирование ЭКГ по Холтеру, широкий спектр ультразвуковых исследований, включая биопсии под контролем УЗИ.</p>
        <p>В результате диагностических исследований, проведенных в клинике «ЕВРОМЕД», Вы получите точные данные, которые являются непременным подспорьем в постановке правильного диагноза и назначения эффективного лечения. Современные методы исследования с использованием цифрового оборудования, высокий профессионализм врачей обеспечивают максимальную надежность и безопасность, гарантируют объективность полученных данных.</p>
    </div>
    <div class="turn__box">
        <a href="#" class="turn__item">Свернуть</a>
    </div>
    <div class="advantages__right comp">
        <div class="advantages__item white">
            <h3>наши преимущества</h3>
        </div>
        <div class="advantages__item green metods-diagnostics">
            <h3>ВЫСОКОТЕХНО&shy;ЛОГИЧНЫЕ МЕТОДЫ ДИАГНОСТИКИ</h3>
        </div>
        <div class="advantages__item green equipment">
            <h3>СОВРЕМЕННОЕ ЗАРУБЕЖНОЕ ОБОРУДОВАНИЕ</h3>
        </div>
        <div class="advantages__item green spec">
            <h3>ВЫСОКАЯ КВАЛИФИКАЦИЯ СПЕЦИАЛИСТОВ</h3>
        </div>
        <div class="advantages__item green modern-information-system">
            <h3>СОВРЕМЕННАЯ ИНФОРМАЦИОННАЯ СИСТЕМА</h3>
        </div>
        <div class="advantages__item green blood-tests">
            <h3>ШИРОКИЙ СПЕКТР ИССЛЕДОВАНИЙ</h3>
        </div>
    </div>
</div>

<div class="choose-direction complex comp-pr dt">
    <div class="container">
        <h3>выберете необходимые вам исследования</h3>
        <div class="complex-programs__block ultra-sound dt">
            <table class="complex-programs__block__table desktop">
                <tr class="border-none">
                    <td colspan="4">
                        <h4 class="desktop">УЛЬТРАЗВУКОВЫЕ ИССЛЕДОВАНИЯ</h4>
                    </td>
                </tr>
                <tr>
                    <td>Нейросонография с ЦДК (УЗИ головного мозга у детей до года)</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>УЗИ тазобедренных суставов у детей</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>УЗИ вилочковой железы</td>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ костно-мышечной системы шейного отдела позвоночника у детей</td>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Исследование спинного мозга у детей до года</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Транскраниальное исследование структур и сосудов головного мозга у детей (1-7 лет)</td>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мышц шеи</td>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Комплексное УЗИ матки и придатков</td>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Комплексное УЗИ матки и придатков с ЦДК</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ в акушерстве (беременность после 12 недель)</td>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>3D/4D УЗИ</td>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Запись на диск 3D, 4D - УЗИ в акушерстве без заключения врача</td>
                    <td></td>
                    <td>1600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Фолликулометрия</td>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Цервикометрия</td>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Допплерометрия плацентарно-маточного кровотока</td>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Эхогистеросальпингография (УЗИ проходимости маточных труб)</td>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>ЭхоКГ с цветным допплеровским картированием (УЗИ сердца)</td>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ молочных желез</td>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ молочных желез с эластографией</td>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ щитовидной железы с ЦДК</td>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ щитовидной железы с</td>
                    <td></td>
                    <td>2500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>ЦДК и эластографией</td>
                    <td></td>
                    <td>1600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Эластография</td>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Комплексное УЗИ органов брюшной полости</td>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ кишечника</td>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ почек-надпочечников</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ печени, желчного пузыря с определением функции</td>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ печени, желчного пузыря</td>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ поджелудочной железы</td>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ селезенки</td>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мочевого пузыря</td>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мочевого пузыря с определением остаточной мочи</td>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Трансабдоминальное УЗИ простаты с определением остаточной мочи</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мошонки с ЦДК</td>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Трансректальное УЗИ предстательной железы</td>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>Трансректальное УЗИ предстательной железы с эластографией</td>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ поверхностных лимфоузлов</td>
                    <td></td>
                    <td>2100 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ поверхностных лимфоузлов с эластографией</td>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ забрюшинных лимфоузлов</td>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗДГ брахиоцефальных сосудов</td>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗДГ почечных артерий</td>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗДГ сосудов верхних конечностей (вены или артерии)</td>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗДГ сосудов нижних конечностей (вены или артерии)</td>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗДГ брюшного отдела аорты</td>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ слюнных желез</td>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мягких тканей с ЦДК</td>
                    <td></td>
                    <td>2300 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ мягких тканей с</td>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>ЦДК и эластографией</td>
                    <td></td>
                    <td>950 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ паращитовидных желез</td>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ грудных желез</td>
                    <td></td>
                    <td>1400 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ лонного сочленения</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ коленных суставов</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td>
                        <p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p>
                    </td>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ глазного яблока с ЦДК</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>УЗИ придаточных пазух носа</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Запись УЗИ на диск</td>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none caption">
                    <td colspan="4">
                        <h4 class="desktop">ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА</h4>
                    </td>
                </tr>
                <tr>
                    <td>Суточное холтеровское мониторирование ЭКГ</td>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr>
                    <td>ЭКГ</td>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Кардиотокография (исследование внутриутробного состояния плода)</td>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
            </table>


            <table class="complex-programs__block__table mobile-table">
                <tr class="border-none">
                    <td colspan="4">
                        <h4>УЛЬТРАЗВУКОВЫЕ ИССЛЕДОВАНИЯ</h4>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Нейросонография с ЦДК (УЗИ головного мозга у детей до года)</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td colspan="4"><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ тазобедренных суставов у детей</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td colspan="4"><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ вилочковой железы</td>
                </tr>
                <tr>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ костно-мышечной системы шейного отдела позвоночника у детей</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Исследование спинного мозга у детей до года</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td colspan="4"><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Транскраниальное исследование структур и сосудов головного мозга у детей (1-7 лет)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мышц шеи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное УЗИ матки и придатков</td>
                </tr>
                <tr>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное УЗИ матки и придатков с ЦДК</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ в акушерстве (беременность после 12 недель)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">3D/4D УЗИ</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Запись на диск 3D, 4D - УЗИ в акушерстве без заключения врача</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Фолликулометрия</td>
                </tr>
                <tr>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Цервикометрия</td>
                </tr>
                <tr>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Допплерометрия плацентарно-маточного кровотока</td>
                </tr>
                <tr>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Эхогистеросальпингография (УЗИ проходимости маточных труб)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ЭхоКГ с цветным допплеровским картированием (УЗИ сердца)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ молочных желез</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ молочных желез с эластографией</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ щитовидной железы с ЦДК</td>
                </tr>
                <tr>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ щитовидной железы с</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ЦДК и эластографией</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Эластография</td>
                </tr>
                <tr>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Комплексное УЗИ органов брюшной полости</td>
                </tr>
                <tr>
                    <td></td>
                    <td>900 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ кишечника</td>
                </tr>
                <tr>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ почек-надпочечников</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ печени, желчного пузыря с определением функции</td>
                </tr>
                <tr>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ печени, желчного пузыря</td>
                </tr>
                <tr>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ поджелудочной железы</td>
                </tr>
                <tr>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ селезенки</td>
                </tr>
                <tr>
                    <td></td>
                    <td>500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мочевого пузыря</td>
                </tr>
                <tr>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мочевого пузыря с определением остаточной мочи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1200 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Трансабдоминальное УЗИ простаты с определением остаточной мочи</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мошонки с ЦДК</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Трансректальное УЗИ предстательной железы</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Трансректальное УЗИ предстательной железы с эластографией</td>
                </tr>
                <tr>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ поверхностных лимфоузлов</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2100 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ поверхностных лимфоузлов с эластографией</td>
                </tr>
                <tr>
                    <td></td>
                    <td>800 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ забрюшинных лимфоузлов</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗДГ брахиоцефальных сосудов</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗДГ почечных артерий</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗДГ сосудов верхних конечностей (вены или артерии)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1650 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗДГ сосудов нижних конечностей (вены или артерии)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1500 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗДГ брюшного отдела аорты</td>
                </tr>
                <tr>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ слюнных желез</td>
                </tr>
                <tr>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мягких тканей с ЦДК</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2300 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ мягких тканей с</td>
                </tr>
                <tr>
                    <td></td>
                    <td>700 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ЦДК и эластографией</td>
                </tr>
                <tr>
                    <td></td>
                    <td>950 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ паращитовидных желез</td>
                </tr>
                <tr>
                    <td></td>
                    <td>600 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ грудных желез</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1400 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ лонного сочленения</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ коленных суставов</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ глазного яблока с ЦДК</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">УЗИ придаточных пазух носа</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td colspan="4"><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Запись УЗИ на диск</td>
                </tr>
                <tr>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none caption">
                    <td colspan="4">
                        <h4>ФУНКЦИОНАЛЬНАЯ ДИАГНОСТИКА</h4>
                    </td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Суточное холтеровское мониторирование ЭКГ</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1000 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">ЭКГ</td>
                </tr>
                <tr>
                    <td><a href="#" class="show-about-analysis">подробнее</a></td>
                    <td>850 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
                <tr class="details-about-analysis">
                    <td colspan="4"><p>Особенно актуально раннее выявление поражения коленного сустава у больных деформирующим остеоартрозом, поскольку это самое распространенное заболевание суставов, характеризующееся значительным ухудшением качества жизни, большим процентом ограничения трудоспособности. Этим заболеванием страдает от 10-20% населения. У многих больных остеоартроз начинает развиваться в молодом возрасте. У 90% людей старше 40 лет имеются рентгенологические признаки этого заболевания, и только 30% из них жалуются на боли. А ведь ранняя диагностика может позволить начать раннее лечение.</p></td>
                </tr>
                <tr class="border-none">
                    <td colspan="3">Кардиотокография (исследование внутриутробного состояния плода)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>550 руб</td>
                    <td><a class="enroll" href="#">Записаться</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="about-services-specialists complex gent">
    <div class="container">
        <h3>диагностические исследования </h3>
        <div class="about-services-specialists__text-box">
            <p>В нашей клинике функционируют несколько кабинетов ультразвуковой диагностики, оснащенных ультразвуковыми сканерами высокого и экспертного класса последнего поколения Samsung Medison, Accuvix A30 с трехмерным изображением, позволяющими проводить широкий спектр ультразвуковых исследований (УЗИ). В диагностических целях УЗИ используют для выявления заболеваний органов брюшной полости и почек, органов малого таза, щитовидной железы, молочных желез, лимфатической системы, сердца, сосудов, в акушерской и педиатрической практике. Отличительной</p>
            <p>особенностью аппарата Accuvix A30 является возможность проведения УЗИ с эластографией. Эластография - инновационный метод поиска рака различной локализации при котором оценивается эластичность тканей, что позволяет путем «ультразвуковой пальпации» исследовать плотность тканей в режиме реального времени. Злокачественные образования (рак) в большинстве случаев плотнее, чем доброкачественные (кисты, воспалительные и рубцовые изменения, доброкачественные аденомы). В нашей клинике следующие ультразвуковые исследования можно дополнить эластограммой: * УЗИ щитовидной железы с ЦДК</p>
        </div>
        <a href="#">Подробнее</a>
    </div>
</div>
